﻿<div class="modal fade" id="GroupControlCreateDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Создайте груповой контроль
            </div>
            <div class="modal-body">
                <form role="form" id="createControlForm">
                    <div class="form-group">
                        <label class="control-label control-label-paddings fullwidth-label text-center">
                            Выберите вид работы
                        </label>
                        <select class="form-control fullwidth-input" ng-model="createControl.WorkTypeName">
                            <option class="text-center" ng-repeat="workType in createControl.WorkTypes">{{ workType.Name }}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label control-label-paddings fullwidth-label text-center">
                            Выберите группу
                        </label>

                        <select class="form-control fullwidth-input" ng-model="createControl.GroupNum">
                            <option ng-repeat="group in Groups" class="text-center">{{ group.GroupId }}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label control-label-paddings fullwidth-label text-center">Введите тип контроля</label>
                        <input type="text" class="form-control fullwidth-input" required="required" ng-model="createControl.Type"
                               placeholder="Тип группового контроля" id="createControlType" title="Требуется тип контроля" />
                    </div>

                    <div class="form-group">
                        <label class="control-label control-label-paddings fullwidth-label text-center"> Введите дату контроля </label>
                        <input type="date" class="form-control fullwidth-input" ng-model="createControl.Date"
                               placeholder="Дата проведения контроля" id="createControlDate" title="Требуется дата контроля"  />
                    </div>
                    <div class="form-group">
                        <label class="control-label control-label-paddings fullwidth-label text-center"> Введите место проведение контроля </label>
                        <input type="text" class="form-control fullwidth-input" ng-model="createControl.Place" required="required"
                               placeholder="Место проведения контроля" id="createControlPlace" title="Требуется место проведения контроля"  />
                    </div>
                    <input type="submit" class="hidden" />
                </form>
            </div>

            <div class="modal-footer text-right">
                <input type="button" class="btn btn-success" ng-click="createCont()" value="Создать" />
                <input type="button" class="btn btn-danger" ng-click="cancelCreateControl()" value="Отмена" />
            </div>
        </div>
    </div>
</div>
