﻿<div class="bs-callout bs-callout-success">
    <p class="float-left"> {{material.Type}} </p>
    <div class="material-btn-group">
        <div class="btn-group">
            <a ng-href="/Literature/GetMaterial?filePath={{material.MaterialDoc}}&fileName={{material.Type}}" target="_blank" type="button" class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Скачать">
                <i class="glyphicon glyphicon-download"></i>
            </a>
        </div>
    </div>
    <div class="clear-both"></div>
</div>