﻿@using Newtonsoft.Json;
@model NLM.WEB.Models.Lecturer.GroupMainViewModel


@{
    ViewBag.Title = "Группы";
    Layout = "~/Views/Shared/_LecturerAdminLayout.cshtml";
}



<!-- 2-column layout -->
<div ng-app="groupApp" ng-controller="filter" class="row row-offcanvas row-offcanvas-right">

    <!-- column 4 (sidebar) -->
    <div class="col-sm-4 col-sm-push-8 col-xs-12 col-lg-4 col-lg-push-8 col-md-4 col-md-push-8 sidebar-offcanvas" id="sidebar">
        <!--sidebar-menu-->
        <nav class="navbar navbar-default navbar-static">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#b-menu-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- submenu elements for #b-menu-2 -->
            <div class="collapse navbar-collapse" id="b-menu-2">
                <form role="form">
                    <div class="btn-group btn-group-justified btn-radio-group" data-toggle="buttons">
                        <label class="btn btn-info active" ng-click="switchToControls(mode)">
                            <input type="radio" id="groupsRadio1" name="groupsRadio" value="1" ng-click="switch(mode)"/> Контроли
                        </label>
                        <label class="btn btn-info" ng-click="switchToInfos(mode)">
                            <input type="radio" id="groupsRadio2" name="groupsRadio" value="2" ng-click="switch(mode)" /> Студенты
                        </label>
                    </div>
                </form>
            </div><!-- /.nav-collapse -->
        </nav>

        <!--/side-navbar-->

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Группы</h3>
            </div>
            <div class="panel-body">
                <form role="form" class="text-center">
                    <label for="selectField">Выберите учебный год</label>
                    <div class="row padding-sides-10">
                        <div class="input-group">
                            <select class="form-control fullwidth-input" id="selectField" ng-model="mode.CurrentYear">
                                <option class="text-center" ng-repeat="year in Years track by year" ng-cloak>{{ year }}</option>
                            </select>
                            <span class="input-group-btn">
                                <button class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Фильтр" type="button" ng-click="filterGroups()">
                                    <i class="glyphicon glyphicon-search">

                                    </i>

                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>

            <div class="text-center">
                <label for="themeList">Выберите группу</label>
            </div>
            <div class="list-group fixed-list area-bordered" role="navigation" id="themeList">
                <a href="#" class="list-group-item" ng-repeat="group in Groups track by group.GroupId" id="group{{group.GroupId}}" ng-click="loadGroup(group)" 
                   onclick="return false;" ng-cloak ng-bind="group.GroupId"></a>
            </div>

            <div class="form-group text-center aside-toolbar-form">
                <div class="aside-toolbar" ng-controller="groupInit">
                    <button class="btn btn-info" data-toggle="tooltip" title="Добавить группу" data-placement="bottom" ng-click="create()"><i class="glyphicon glyphicon-plus"></i></button>
                    <button class="btn btn-info" data-toggle="tooltip" title="Удалить группу" data-placement="bottom" ng-click ="delete()"><i class="glyphicon glyphicon-remove"></i></button>
                    <button class="btn btn-info" data-toggle="tooltip" title="Сменить старосту" data-placement="bottom" ng-click="changeCaptain()"><i class="glyphicon glyphicon-user"></i></button>
                </div>
            </div>
        </div>

    </div><!-- /column 3 (sidebar) -->
    <div class="col-xs-12 col-sm-8 col-sm-pull-4 col-md-8 col-md-pull-4 col-lg-8 col-lg-pull-4">

        <!--main-menu-->
        <nav class="navbar navbar-default navbar-static">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#b-menu-3">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- submenu elements for #b-menu-2 -->
            <div class="collapse navbar-collapse" id="b-menu-3" ng-controller="navbar" ng-switch="fileLoading">
                <ul class="nav navbar-nav" ng-switch-when="no-load">
                    <li><a href="#" ng-click="showCreateModal()" onclick="return false;"><span class="glyphicon glyphicon-plus"></span> Добавить</a></li>
                    <li><a href="#" ng-click="confirmStudentDelete()" onclick="return false;"><span class="glyphicon glyphicon-remove"></span> Удалить</a></li>
                    <li><a href="#" ng-click="showEditModal()" onclick="return false;"><span class="glyphicon glyphicon-pencil"></span> Редактировать</a></li>
                    <li><a href="#" ng-click="generateFile()" onclick="return false;"><span class="glyphicon glyphicon-floppy-save"></span> Выгрузить в Excel</a></li>
                    <li><a href="#" ng-click="uploadFile()" onclick="return false;"><span class="glyphicon glyphicon-floppy-open"></span> Загрузить из Excel</a></li>
                </ul>
                <div id="loadTable" ng-switch-when="loading">

                    <table class="table">
                        <caption> Загрузка файла на сервер </caption>
                        <thead>
                            <tr>
                                <th width="50%">Name</th>
                                <th ng-show="uploader.isHTML5">Size</th>
                                <th ng-show="uploader.isHTML5">Progress</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong ng-bind="item.file.name"></strong></td>
                                <td ng-show="uploader.isHTML5" nowrap> <span ng-bind="item.file.size/1024/1024|number:2"></span> MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> Upload
                                    </button>
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="ballsWaveG" class="hidden" ng-switch-when="server-processing">
                    <div class="move-left"> Загрузка и обработка файла на сервере : </div>
                    <div id="ballsWaveG_1" class="ballsWaveG"></div>
                    <div id="ballsWaveG_2" class="ballsWaveG"></div>
                    <div id="ballsWaveG_3" class="ballsWaveG"></div>
                    <div id="ballsWaveG_4" class="ballsWaveG"></div>
                    <div id="ballsWaveG_5" class="ballsWaveG"></div>
                    <div id="ballsWaveG_6" class="ballsWaveG"></div>
                    <div id="ballsWaveG_7" class="ballsWaveG"></div>
                    <div id="ballsWaveG_8" class="ballsWaveG"></div>
                </div>
                <form role="form">
                    <input type="file" nv-file-select="" uploader="uploader" class="hidden" id="uploadFile" />
                </form>
            </div><!-- /.nav-collapse -->
        </nav>

        <!-- jumbotron -->
        <div class="jumbotron my-jumbotron">
            <div class="table-responsive">
                <table class="table table-hover table=table-condensed" ng-show= "mode.Value == 'StudentInfos'">
                    <thead>
                        <tr class="success">
                            <th>ФИО студента</th>
                            <th>"Электронный адрес"</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="student in GroupStudents track by student.UserId" id="student{{student.UserId}}" ng-click="choseStudent(student)">
                            <td>
                                <span class="badge" ng-show="student.IsCaptain" data-toggle="tooltip" title="Староста">C</span>
                                <span ng-cloak ng-bind="student.FIO"></span>
                            </td>
                            <td ng-cloak ng-bind="student.Email">
                            </td>
                        </tr>
                        @*else
                        {
                            <tr> В группе отсутствують студенты. </tr>
                        }*@

                    </tbody>
                </table>
            </div>
            <div class="btn-group btn-group-justified btn-control-radio-group" data-toggle="buttons"  ng-show = "mode.Value == 'StudentControls'">
                <label class="btn btn-success active">
                    <input type="radio" id="controlsRadio1" name="controlsRadio" value="1" ng-click="loadGroupControls()"/> Мои
                </label>
                <label class="btn btn-success" ng-click="loadAllControls()">
                    <input type="radio" id="controlsRadio2" name="controlsRadio" value="2" /> Все
                </label>
            </div>
            <div class="table-responsive"  ng-show = "mode.Value == 'StudentControls'">
                <table class="table table-hover table=table-condensed">
                    <thead>
                        <tr class="success">
                            <th>Вид работы</th>
                            <th>Тип сдачи</th>
                            <th>Дата сдачи</th>
                            <th>Место сдачи</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="control in GroupControls track by control.GroupControlId" id="control{{control.GroupControlId}}" ng-click="choseGroupControl(control)">
                            <td ng-cloak ng-bind="control.WorkType"></td>
                            <td ng-cloak ng-bind="control.Type">td>
                            <td ng-cloak ng-bind="control.FormatDate"></td>
                            <td ng-cloak ng-bind="control.Place"> </td>
                        </tr>
                        @*else
                        {
                            <tr> В группе отсутствують групповые контроли </tr>
                        }*@

                    </tbody>
                </table>
            </div>
        </div>
    </div><!--/span-->
    <!-- modals -->
    @*<div class="modal fade" id="GroupCreateDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Создать группу
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Введите название группы" ng-model="createdGroup.Name" />
                        </div>

                        <div class="form-group">
                            <select class="form-control fullwidth-input" ng-model="createdGroup.CaptainName">
                                <option class="text-center" ng-repeat="user in createdGroup.Users">{{ user.FIO }}</option>
                            </select>
                        </div>
                    </form>
                </div>

                <div class="modal-footer text-right">
                    <input type="button" class="btn btn-success" ng-click="createGroup()" data-dissmiss="modal" value="Создать">

                    <input type="button" class="btn btn-danger" ng-click="cancelGroupCreation()" data-dissmiss="modal" value="Отмена">
                </div>
            </div>
        </div>
    </div>*@
    @*<div class="modal fade" id="MessageDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    {{Message.Title}}
                </div>
                <div class="modal-body">
                    {{Message.Text}}
                </div>

                <div class="modal-footer text-right">
                    <button type="button" class="btn btn-success" data-dismiss="modal" id="ErrorOk" ng-click="hideMessageDialog()"> Ок </button>
                </div>
            </div>
        </div>
    </div>*@
    @*<div class="modal fade" id="GroupEditDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Сменить старосту. 
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <select id="captainSelect" class="form-control fullwidth-input" ng-model="editedGroup.CaptainName">
                                <option class="text-center" ng-repeat="user in editedGroup.Users">{{ user.FIO }}</option>
                            </select>
                        </div>
                    </form>
                </div>

                <div class="modal-footer text-right">
                    <input type="button" class="btn btn-success" ng-click="editGroup()" data-dissmiss="modal" value="Сменить">

                    <input type="button" class="btn btn-danger" ng-click="hideGroupEditDialog()" data-dissmiss="modal" value="Отмена">
                </div>
            </div>
        </div>
    </div>*@

    @*<div class="modal fade" id="GroupControlCreateDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Создайте груповой контроль
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>
                            Выберите вид работы
                        </label>
                        <select class="form-control fullwidth-input" ng-model="createControl.WorkTypeName">
                            <option class="text-center" ng-repeat="workType in createControl.WorkTypes">{{ workType.Name }}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>
                            Выберите группу
                        </label>
                            
                        <select class="form-control fullwidth-input" ng-model="editControl.GroupNum">
                            <option ng-repeat="group in Groups" class="text-center">{{ group.GroupId }}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control fullwidth-input" ng-model="createControl.Type" placeholder="Тип группового контроля" />
                    </div>

                    <div class="form-group">
                        <input type="date" class="form-control fullwidth-input" ng-model="createControl.Date" placeholder="Дата проведения контроля" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control fullwidth-input" ng-model="createControl.Place" placeholder="Место проведения контроля" />
                    </div>
                </div>

                <div class="modal-footer text-right">
                    <input type="button" class="btn btn-success" ng-click="createGroupControl()" value="Создать" />
                    <input type="button" class="btn btn-danger" ng-click="cancelGroupControlCreation()" value="Отмена" />
                </div>
            </div>
        </div>
    </div>*@
    @*<div class="modal fade" id="StudentCreateDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Создайте студента
                </div>
                <div class="modal-body">
                    <form role="form" name="StudentCreateFrom">
                        <div class="form-group">
                            <label>
                                Выберите группу
                            </label>
                            <select class="form-control fullwidth-input" ng-model="createdStudent.GroupNum">
                                <option class="text-center" ng-repeat="group in Groups">{{group.GroupId}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" required="required" class="form-control fullwidth-input" placeholder="ФИО Студента" ng-model="createdStudent.FIO" />
                        </div>
                        <div class="form-group">
                            <input type="email" required="required" class="form-control fullwidth-input" placeholder="Email Студента" ng-model="createdStudent.Mail" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer text-right">
                    <input type="button" class="btn btn-success" ng-click="createStudent()" value="Создать" />
                    <input type="button" class="btn btn-danger" ng-click="cancel()" value="Отмена" />
                </div>
            </div>
        </div>
    </div>*@
    @*<div class="modal fade" id="GroupControlEditDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Редактирование группового контроля
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label>
                                Выберите вид работы
                            </label>
                            <select class="form-control fullwidth-input" ng-model="editControl.WorkTypeName" id="groupControlEditSelect">
                                <option class="text-center" ng-repeat="workType in editControl.WorkTypes" ng-selected="workType.Name == CurrentControl.WorkType">{{ workType.Name }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>
                                Выберите группу
                            </label>
                            <select class="form-control fullwidth-input" ng-model="editControl.GroupNum">
                                <option class="text-center" ng-repeat="group in Groups">{{group.GroupId}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control fullwidth-input" ng-model="editControl.Type" value="{{editControl.Type}}" placeholder="Тип группового контроля" />
                        </div>

                        <div class="form-group">
                            <input type="date" class="form-control fullwidth-input" ng-model="editControl.Date" value="2013-01-08" placeholder="Дата проведения контроля" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control fullwidth-input" ng-model="editControl.Place" value="{{editControl.Place}}" placeholder="Место проведения контроля" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-success" ng-click="editGroupControl()" value="Редактировать" />
                    <input type="button" class="btn btn-danger" ng-click="cancel()" value="Отмена" />
                </div>
            </div>
        </div>
    </div>*@
    @*<div class="modal fade" id="StudentEditDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Редактирование студента
                </div>
                <div class="modal-body">
                    <form role="form" name="StudentEditFrom">
                        <div class="form-group">
                            <label>
                                Выберите группу
                            </label>
                            <select id="studentEditSelect" class="form-control fullwidth-input" ng-model="editedStudent.GroupNum">
                                <option class="text-center" ng-repeat="group in Groups">{{group.GroupId}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" required="required" class="form-control fullwidth-input" placeholder="ФИО Студента" ng-model="editedStudent.FIO" />
                        </div>
                        <div class="form-group">
                            <input type="email" required="required" class="form-control fullwidth-input" placeholder="Email Студента" ng-model="editedStudent.Mail" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-success" ng-click="editStudent()" value="Редактировать" />
                    <input type="button" class="btn btn-danger" ng-click="cancel()" value="Отмена" />
                </div>
            </div>
        </div>
    </div>*@
    @*<div class="modal fade" id="confirmDelete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    {{DeleteMessage.Title}}
                </div>
                <div class="modal-body">
                    {{ DeleteMessage.Body }}
                </div>

                <div class="modal-footer text-right">
                    <input type="button" class="btn btn-success" ng-click="delete()" value="Удалить" />
                    <input type="button" class="btn btn-danger" ng-click="cancel()" value="Отмена" />
                </div>
            </div>
        </div>
    </div>*@

    <message></message>
    <confirm-delete></confirm-delete>

    <control-create></control-create>
    <control-edit></control-edit>
    <control-delete></control-delete>

    <student-create></student-create>
    <student-edit></student-edit>
    <student-delete></student-delete>

    <group-create></group-create>
    <group-edit></group-edit>
    <group-delete></group-delete>
</div><!--/row-->

<script>
    $("#loadTable").hide();
</script>

<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-file-upload.min.js"></script>

<script src="~/Scripts/sw_scripts/Groups/app.js"></script>
<script src="~/Scripts/sw_scripts/Groups/jsExtension.js"></script>

<!-- services -->
<script src="~/Scripts/sw_scripts/Groups/Services/selectService.js"></script>
<script src="~/Scripts/sw_scripts/Groups/Services/storeService.js"></script>
<script src="~/Scripts/sw_scripts/Groups/Services/communicationService.js"></script>
<script src="~/Scripts/sw_scripts/Groups/Services/controlCUDService.js"></script>
<script src="~/Scripts/sw_scripts/Groups/Services/groupCUDService.js"></script>
<script src="~/Scripts/sw_scripts/Groups/Services/studentCUDService.js"></script>

<!-- directives -->
<script src="~/Scripts/sw_scripts/Groups/Directives/messageDirective.js"></script>
<script src="~/Scripts/sw_scripts/Groups/Directives/confirmDirective.js"></script>
<script src="~/Scripts/sw_scripts/Groups/Directives/Control/controlCreate.js"></script>
<script src="~/Scripts/sw_scripts/Groups/Directives/Control/controlEdit.js"></script>
<script src="~/Scripts/sw_scripts/Groups/Directives/Control/controlDelete.js"></script>

<script src="~/Scripts/sw_scripts/Groups/Directives/Student/studentCreate.js"></script>
<script src="~/Scripts/sw_scripts/Groups/Directives/Student/studentEdit.js"></script>
<script src="~/Scripts/sw_scripts/Groups/Directives/Student/studentDelete.js"></script>

<script src="~/Scripts/sw_scripts/Groups/Directives/Group/groupCreate.js"></script>
<script src="~/Scripts/sw_scripts/Groups/Directives/Group/groupDelete.js"></script>
<script src="~/Scripts/sw_scripts/Groups/Directives/Group/groupEdit.js"></script>

<!-- controllers -->
<script src="~/Scripts/sw_scripts/Groups/Controllers/filterController.js"></script>
<script src="~/Scripts/sw_scripts/Groups/Controllers/navbarController.js"></script>
<script src="~/Scripts/sw_scripts/Groups/Controllers/groupInit.js"></script>