﻿@{
    ViewBag.Title = "Курсовые проекты";
    Layout = "~/Views/Shared/_LecturerAdminLayout.cshtml";
}

<span id="courseProject" class="display-none"></span>

<div ng-app="courseProjectApp" ng-controller="filter">
    <!--second navbar-->
    <!-- second menu bar -->
    <nav class="navbar navbar-default navbar-static">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#b-menu-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- submenu elements for #b-menu-2 -->
        <div class="collapse navbar-collapse" id="b-menu-2">
            <ul class="nav navbar-nav" ng-controller="consolidation">
                <li><a class="default-cursor" onclick="return false;">Закрепления: </a></li>
                <li ng-click="openCreateModal()" onclick="return false;"><a href="#"><span class="glyphicon glyphicon-plus"></span> Добавить</a></li>
                <li ng-click="openConfirmDialog()" onclick="return false;"><a href="#"><span class="glyphicon glyphicon-remove"></span> Удалить</a></li>
                <li ng-click="openEditModal()" onclick="return false;"><a href="#"><span class="glyphicon glyphicon-pencil"></span> Редактировать</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="default-cursor" onclick="return false;">Группы: </a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-list"></span> {{ displayYear }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="year in Years" ng-click="loadYearGroup(year)" onclick="return false;"> <a href="#">{{ year }}</a> </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-list"></span> {{ displayGroup }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="group in Groups"> <a href="#" ng-click="selectGroup(group)" onclick="return false;">{{ group }}</a> </li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.nav-collapse -->
    </nav>

    <!-- 2-column layout -->
    <div class="row row-offcanvas row-offcanvas-right">

        <!-- column 3 (sidebar) -->
        <div class="col-sm-4 col-sm-push-8 col-xs-12 col-lg-4 col-lg-push-8 col-md-4 col-md-push-8 sidebar-offcanvas" id="sidebar">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Управление курсовыми</h3>
                </div>
                <div class="panel-body">
                    <form role="form" class="text-center">
                        <label for="selectField">Выберите дисциплину</label>
                        <div class="row padding-sides-10">
                            <div class="input-group">
                                <select class="form-control fullwidth-input" id="selectField" ng-show="Disciplines.length > 0" 
                                        ng-model="selectedDiscipline">
                                    <option class="text-center" ng-repeat="disc in Disciplines">{{ disc.Name }}</option>
                                </select>
                                <select class="form-control fullwidth-input" ng-show="Disciplines.length == 0" >
                                    <option class="text-center"> Нет дисциплин, которые изучает данная группа </option>
                                </select>
                                <span class="input-group-btn">
                                    <button class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Фильтр" type="button" 
                                            ng-click="loadCourseProjectsForDiscipline()" ng-show="Disciplines.length > 0">
                                        <i class="glyphicon glyphicon-search">

                                        </i>

                                    </button>
                                    <button class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Фильтр" type="button"
                                            ng-click="loadCourseProjectsForDiscipline()" ng-show="Disciplines.length == 0" disabled="disabled">
                                        <i class="glyphicon glyphicon-search">

                                        </i>

                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="text-center">
                    <label for="themeList">Темы курсовых</label>
                </div>
                <div class="list-group fixed-list area-bordered animate" role="navigation" ng-animate=" 'animate' " 
                     ng-show="CourseProjectMode == 'ThemeList'">
                    
                    <a href="#" class="list-group-item text-center project-header" ng-repeat="proj in CourseProjects" ng-show="CourseProjects.length > 0" 
                       ng-click="loadConsolidationsForCourseProject(proj);" onclick="return false;">
                        <span ng-bind="proj.Theme"></span>


                       <p class="glyphicon glyphicon-chevron-right pos-right" ng-click="displayInfo(proj)"> </p>
                    </a>
                    <a href="#" class="list-group-item text-center" ng-show="CourseProjects.length == 0" onclick="return false;">Пусто</a>
                </div>

                <div class="list-group fixed-list area-bordered" role="navigation" id="themeInfo" 
                     ng-show="CourseProjectMode == 'Info'">
                    <div>
                        <header class="project-header">
                            <div class="col-md-1 col-lg-1 col-xs-1 col-sm-1 no-padding">
                                <button class="btn btn-info back-button" data-toggle="tooltip" data-placement="bottom" title="Вернуться к темам" 
                                        type="button" ng-click="displayList()">
                                    <p class="glyphicon glyphicon-chevron-left"></p>
                                </button>
                            </div>
                            <div class="text-center content-padding" ng-bind="Project.Theme">
                            </div>
                        </header>
                        <main>
                            <p> <i class="text-info"> Описание: </i> <span ng-bind="Project.Description"></span>  </p>
                            <p> <i class="text-info"> Тип: </i> <span ng-bind="Project.Type"></span> </p>
                            <p> <i class="text-info"> Дисциплина: </i> <span ng-bind="Project.Discipline"></span> </p>
                            <p> <i class="text-info"> Группа: </i> <span ng-bind="Project.Group"></span> </p>
                        </main>
                    </div>
                </div>

                <div class="form-group text-center aside-toolbar-form" ng-controller="courseProjectInit">
                    <div class="aside-toolbar">
                        <button class="btn btn-info" ng-click="addProjectTheme()" data-toggle="tooltip" title="Добавить тему" data-placement="bottom"><i class="glyphicon glyphicon-plus"></i></button>
                        <button class="btn btn-info" ng-click="deleteProjectTheme()" data-toggle="tooltip" title="Удалить тему" data-placement="bottom"><i class="glyphicon glyphicon-remove"></i></button>
                        <button class="btn btn-info" ng-click="editProjectTheme()" data-toggle="tooltip" title="Редактировать тему" data-placement="bottom"><i class="glyphicon glyphicon-pencil"></i></button>
                    </div>
                </div>
            </div>

        </div><!-- /column 3 (sidebar) -->
        <div class="col-xs-12 col-sm-8 col-sm-pull-4 col-md-8 col-md-pull-4 col-lg-8 col-lg-pull-4">

            <!-- jumbotron -->
            <div class="jumbotron my-jumbotron">
                <div class="table-responsive">
                    <table class="table table-hover table=table-condensed ">
                        <thead>
                            <tr class="success">
                                <th>ФИО студента</th>
                                <th>Группа</th>
                                <th>Дата закрепления</th>
                                <th>Дата сдачи</th>
                                <th>Оценка</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="consolidation in Consolidations" id="{{ consolidation.ConsolidationId }}" ng-show="Consolidations.length > 0" ng-click="selectConsolidation(consolidation)">
                                <td ng-bind="consolidation.FIO"></td>
                                <td ng-bind="consolidation.GroupNum"></td>
                                <td ng-bind="consolidation.ConsolidationDate.toLocaleDateString()"></td>
                                <td ng-bind="consolidation.PassDate.toLocaleDateString()"></td>
                                <td ng-bind="consolidation.Mark"></td>
                            </tr>
                            <tr ng-show="Consolidations.length == 0">
                                <td colspan="5" class="text-center">
                                    Закрепления отсутствуют.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!--/span-->
    </div><!--/row-->
    <div ng-controller="message">
        <div class="modal fade" id="MessageDialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" ng-bind="Message.Title">
                    </div>
                    <div class="modal-body" ng-bind="Message.Body">
                    </div>
                    <div class="modal-footer text-right">
                        <input type="button" class="btn btn-primary" id="messageOkBtn" ng-click="hide()" value="Ок" />
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="ConfirmDeleteDialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" ng-bind="DeleteMessage">
                    </div>
                    <div class="modal-footer text-right">
                        <button type="button" ng-click="confirm()" class="btn btn-success"> Удалить </button>
                        <button type="button" ng-click="hideConfirmDialog()" class="btn btn-danger"> Отмена </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-controller="consolidationModal">
        <div class="modal fade" id="createConsolidationModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        Создать закрепление
                    </div>

                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                Выберите группу студента
                                <select class="form-control fullwidth-input first-option-remove" ng-options="group as group.GroupId for group in Groups"
                                        ng-change="loadGroupStudents()" ng-model="createdConsolidation.Group" id="createConsolidationGroupSelect"></select>
                            </div>
                            <div class="form-group">
                                Выберите студента
                                <select class="form-control fullwidth-input first-option-remove" ng-model="createdConsolidation.Student" id="createConsolidationStudentSelect"
                                        ng-options="student as student.FIO for student in Students"></select>
                            </div>

                            <div class="form-group">
                                Выберите тему проекта
                                <select class="form-control fullwidth-input first-option-remove" ng-model="createdConsolidation.Project" id="createConsolidationProjectSelect"
                                        ng-options="project as project.Theme for project in CourseProjects"></select>
                            </div>
                            <input type="submit" class="hidden" />
                        </form>
                    </div>
                    <div class="modal-footer text-right">
                        <button type="button" class="btn btn-success" ng-click="createConsolidation()"> Закрепить </button>
                        <button type="button" class="btn btn-danger" ng-click="cancel()"> Отмена </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="editConsolidationModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        Изменить закрепление
                    </div>

                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                Выберите группу студента
                                <select class="form-control fullwidth-input first-option-remove" ng-options="group as group.GroupId for group in Groups"
                                        ng-change="loadGroupStudents()" ng-model="editedConsolidation.Group" id="editConsolidationGroupSelect"></select>
                            </div>
                            <div class="form-group">
                                Выберите студента
                                <select class="form-control fullwidth-input first-option-remove" ng-model="editedConsolidation.Student"
                                        id="editConsolidationStudentSelect" ng-options="student as student.FIO for student in Students"></select>
                            </div>

                            <div class="form-group">
                                Выберите тему проекта
                                <select class="form-control fullwidth-input first-option-remove" ng-model="editedConsolidation.Project"
                                        id="editConsolidationProjectSelect" ng-options="project as project.Theme for project in CourseProjects"></select>
                            </div>
                            <div class="form-group">
                                <input type="date" class="fullwidth-input form-control" ng-model="editedConsolidation.PassDate" id="EditPassDate" />
                            </div>
                            <div class="form-group">
                                <input type="number" class="fullwidth-input form-control" ng-model="editedConsolidation.Mark" id="EditMark" />
                            </div>

                            <input type="submit" class="hidden" />
                        </form>
                    </div>
                    <div class="modal-footer text-right">
                        <button type="button" class="btn btn-success" ng-click="editConsolidation()"> Редактировать </button>
                        <button type="button" class="btn btn-danger" ng-click="cancel()"> Отмена </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-controller="courseProjectModal">
        <div class="modal fade" id="createCourseProjectDialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        Добавить тему
                    </div>
                    <div class="modal-body">
                        <form role="form" id="createProjectForm">
                            <div class="form-group">
                                <select class="form-control fullwidth-input first-option-remove" ng-model="createdCourseProject.Discipline"
                                        ng-options="disc as disc.Name for disc in Disciplines"></select>
                            </div>
                            <div class="form-group">
                                <select class="form-control fullwidth-input first-option-remove" ng-model="createdCourseProject.Group"
                                        ng-options="group as group.GroupId for group in Groups"></select>
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control fullwidth-input" ng-model="createdCourseProject.Theme" 
                                       placeholder="Тема проекта" required="required" />
                            </div>

                            <div class="form-group">
                                <textarea ng-model="createdCourseProject.Description" class="form-control fullwidth-input" 
                                          placeholder="Описание темы" required="required"></textarea>
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control fullwidth-input" ng-model="createdCourseProject.Type"
                                       placeholder="Тип проекта (одиночный, групповый)" required="required" />
                            </div>

                            <input type="submit" class="hidden" />

                        </form>

                    </div>

                    <div class="modal-footer text-right">
                        <button type="button" class="btn btn-success" ng-click="createCourseProject()"> Создать </button>
                        <button type="button" class="btn btn-danger" ng-click="cancel()"> Отмена </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="editCourseProjectDialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        Редактировать тему проекта
                    </div>
                    <div class="modal-body">
                        <form role="form" id="editProjectForm">
                            <div class="form-group">
                                <select class="form-control fullwidth-input" ng-model="editedCourseProject.Discipline"
                                        ng-options="disc as disc.Name for disc in Disciplines"></select>
                            </div>
                            <div class="form-group">
                                <select class="form-control fullwidth-input" ng-model="editedCourseProject.GroupNum"
                                        ng-options="group for group in Groups"></select>
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control fullwidth-input" ng-model="editedCourseProject.Theme" 
                                       placeholder="Тема проекта" required="required" />
                            </div>

                            <div class="form-group">
                                <textarea ng-model="editedCourseProject.Description" class="form-control fullwidth-input" 
                                          placeholder="Описание темы" required="required"></textarea>
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control fullwidth-input" ng-model="editedCourseProject.Type"
                                       placeholder="Тип проекта (одиночный, групповый)" required="required" />
                            </div>

                            <input type="submit" class="hidden" />

                        </form>

                    </div>

                    <div class="modal-footer text-right">
                        <button type="button" class="btn btn-success" ng-click="editCourseProject()"> Редактировать </button>
                        <button type="button" class="btn btn-danger" ng-click="cancel()"> Отмена </button>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>


<script src="~/Scripts/angular.min.js"></script>

<script src="~/Scripts/sw_scripts/Course_Project/app.js"></script>

<script src="~/Scripts/sw_scripts/Course_Project/Services/selectService.js"></script>
<script src="~/Scripts/sw_scripts/Course_Project/Services/storeService.js"></script>
<script src="~/Scripts/sw_scripts/Course_Project/Services/communicationService.js"></script>

<script src="~/Scripts/sw_scripts/Course_Project/Controllers/FilterController.js"></script>
<script src="~/Scripts/sw_scripts/Course_Project/Controllers/ConsolidationController.js"></script>
<script src="~/Scripts/sw_scripts/Course_Project/Controllers/MessageController.js"></script>
<script src="~/Scripts/sw_scripts/Course_Project/Controllers/CourseProjectController.js"></script>




