﻿@{
    ViewBag.Title = "Курсовые проекты";
    Layout = "~/Views/Shared/_LecturerAdminLayout.cshtml";
}

<span id="courseProject" class="display-none"></span>

<div ng-app="courseProjectApp" ng-controller="filter">
    <!-- 2-column layout -->
    <div class="row row-offcanvas row-offcanvas-right">

        <!-- column 3 (sidebar) -->
        <div class="col-sm-4 col-sm-push-8 col-xs-12 col-lg-4 col-lg-push-8 col-md-4 col-md-push-8 sidebar-offcanvas" id="sidebar">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Управление курсовыми</h3>
                </div>
                <div class="panel-body">
                    <form role="form" class="text-center">
                        <label for="selectField">Выберите дисциплину</label>
                        <div class="row padding-sides-10">
                            <select class="form-control fullwidth-input" id="selectField" ng-show="loaded && Disciplines.length > 0"
                                    ng-model="selectedDiscipline" ng-change="loadDisciplineInfo()" ng-options="disc as disc.Name for disc in Disciplines">
                            </select>
                            <select class="form-control fullwidth-input" ng-show="loaded && Disciplines.length == 0">
                                <option class="text-center"> В этом учебном году дисциплин нет </option>
                            </select>
                            <select class="form-control" ng-show="!loaded">
                                <option class="text-center"> Дисциплины загружаются </option>
                            </select>
                        </div>
                    </form>
                </div>

                <div class="text-center">
                    <label for="themeList">Темы курсовых</label>
                </div>
                
                <div class="list-group fixed-list area-bordered" role="navigation" id="projectContainer">
                    
                    <a href="#" class="list-group-item text-center project-header" ng-repeat="proj in CourseProjects" ng-show="loaded && CourseProjects.length > 0"
                       ng-click="selectProject(proj);" id="project{{ proj.CourseProjectId }}" onclick="return false;"
                       ng-class="proj.CourseProjectId == currentProject.CourseProjectId ? 'active' : ''">
                        <span ng-bind="proj.Theme"></span>


                        <p class="glyphicon glyphicon-chevron-down pos-right" ng-click="displayInfo(proj)"> </p>
                    </a>
                    <a href="#" class="list-group-item text-center" ng-show="loaded && CourseProjects.length == 0" onclick="return false;">Пусто</a>
                    <a href="#" class="list-group-item text-center" ng-show="!loaded" onclick="return false;">Загрузка</a>
                </div>

                <div class="list-group fixed-list area-bordered" role="navigation" id="themeInfo">
                    <div>
                        <header class="project-header">
                            <div class="text-center content-padding">
                                <button class="btn btn-link btn-xs pull-left no-padding" data-toggle="tooltip" data-placement="bottom" title="Вернуться к темам"
                                        type="button" ng-click="displayList()">
                                    <p class="glyphicon glyphicon-chevron-up"></p>
                                </button>
                                <span ng-bind="Project.Theme"></span>
                                <div class="clearfix"></div>
                            </div>
                        </header>
                        <main>
                            <p class="text-center"> <i class="text-info"> Описание: </i> <span ng-bind="Project.Description"></span>  </p>
                            <p class="text-center"> <i class="text-info"> Тип: </i> <span ng-bind="Project.Type"></span> </p>
                        </main>
                    </div>
                </div>
            </div>

        </div><!-- /column 3 (sidebar) -->
        <div class="col-xs-12 col-sm-8 col-sm-pull-4 col-md-8 col-md-pull-4 col-lg-8 col-lg-pull-4">
            
            <!--second navbar-->
            <!-- second menu bar -->
            <nav class="navbar navbar-default navbar-static">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#b-menu-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- submenu elements for #b-menu-2 -->
                <div class="collapse navbar-collapse" id="b-menu-2" ng-controller="Consolidation">
                    <ul class="nav navbar-nav">
                        <li><a class="default-cursor" onclick="return false;">Закрепления за темами:  </a></li>
                        <li ng-click="ConsolidateProject()" onclick="return false;">
                            <a href="#" ng-class="IsConsolidated || CourseProjects.length == 0 || currentProject == undefined ? 'a-disabled' : ''">
                                <span class="glyphicon glyphicon-plus"></span> Добавить
                            </a>
                        </li>
                        <li ng-click="DeleteConsolidation()" onclick="return false;">
                            <a href="#" ng-class=" CourseProjects.length == 0 || !IsConsolidated ? 'a-disabled' : ''">
                                <span class="glyphicon glyphicon-remove"></span> Удалить
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="default-cursor" onclick="return false;">Группа: </a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" onclick="return false;"><span class="glyphicon glyphicon-list"></span> {{ displayGroup }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="group in Groups"> <a href="#" ng-click="selectGroup(group)" onclick="return false;">{{ group }}</a> </li>
                                <li ng-show="Groups.length == 0 && (selectedDiscipline != undefined && selectedDiscipline != null)"> Нет групп изучающих данную дисциплину </li>
                                <li ng-show="selectedDiscipline == undefined || selectedDiscipline == null"> Выберите дисциплину </li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.nav-collapse -->
            </nav>

            <!-- jumbotron -->
            <div class="jumbotron my-jumbotron">
                <div class="table-responsive">
                    <table class="table table-hover table=table-condensed ">
                        <thead>
                            <tr class="success">
                                <th>ФИО студента</th>
                                <th>Группа</th>
                                <th>Дата закрепления</th>
                                <th>Дата сдачи</th>
                                <th>Оценка</th>
                            </tr>
                        </thead>
                        <tbody data-original-title="Выберите закрепление для того чтобы увидеть тему проекта" data-container="body" data-toggle="tooltip" data-placement="bottom"
                               title="" ng-show="loaded && Consolidations.length > 0">
                            <tr ng-repeat="consolidation in Consolidations" id="{{ consolidation.ConsolidationId }}" data-toggle="tooltip"
                                data-placement="bottom" title="Выберите закрепление для того чтобы увидить тему проекта" 
                                ng-class="consolidation.ConsolidationId == UserConsolidation.ConsolidationId ? 'warning' : '' "
                                ng-click="showProject(consolidation)">
                                <td ng-bind="consolidation.FIO" title="Выберите закрепление для того чтобы увидить тему проекта"></td>
                                <td ng-bind="consolidation.GroupNum"></td>
                                <td ng-bind="consolidation.ConsolidationDate.toLocaleDateString()"></td>
                                <td ng-bind="consolidation.PassDate.toLocaleDateString()"></td>
                                <td ng-bind="consolidation.Mark"></td>
                            </tr>
                            <tr ng-show="!loaded">
                                <td colspan="5" class="text-center">
                                    Загрузка данных
                                </td>
                            </tr>

                        </tbody>
                        <tbody ng-show="loaded && Consolidations.length == 0">
                            <tr>
                                <td colspan="5" class="text-center">
                                    Закрепления отсутствуют
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!--/span-->
    </div><!--/row-->

    <div ng-controller="Message">
        <div class="modal fade" id="MessageDialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="text-center" ng-bind="Message.Title"></h4>
                    </div>
                    <div class="modal-body text-center">
                        <p class="text-center" ng-bind="Message.Body"></p>
                    </div>
                    <footer class="modal-footer">
                        <input data-dismiss="modal" type="button" ng-click="hide()" class="btn btn-default modal-btn" id="response-ok" value="Ок">
                    </footer>
                </div>
            </div>
        </div>
        <div class="modal fade" id="ConfirmDeleteDialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="text-center" ng-bind="DeleteMessage"></h4>
                    </div>
                    <div class="modal-body text-center">
                        <h4>Вы действительно хотите выполнить указанное действие?</h4>
                    </div>
                    <footer class="modal-footer margin-top-5">
                        <div class="right-buttons">
                            <button type="button" ng-click="confirm()" class="btn btn-success right-button modal-btn"> Подтвердить </button>
                            <button type="button" ng-click="hideConfirmDialog()" class="btn btn-danger right-button modal-btn" id="del-cancel"> Отменить </button>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-animate.min.js"></script>
<script src="~/Scripts/sw_scripts/Course_Project/animate.js"></script>

<script src="~/Scripts/sw_scripts/Course_Project/Student/app.js"></script>

<!-- Services -->
<script src="~/Scripts/sw_scripts/Course_Project/Student/Services/selectService.js"></script>
<script src="~/Scripts/sw_scripts/Course_Project/Student/Services/storeService.js"></script>
<script src="~/Scripts/sw_scripts/Course_Project/Student/Services/dataStorageService.js"></script>
<script src="~/Scripts/sw_scripts/Course_Project/Student/Services/communicationService.js"></script>

<!-- controllers -->
<script src="~/Scripts/sw_scripts/Course_Project/Student/Controllers/FilterController.js"></script>
<script src="~/Scripts/sw_scripts/Course_Project/Student/Controllers/ConsolidationController.js"></script>
<script src="~/Scripts/sw_scripts/Course_Project/Student/Controllers/MessageController.js"></script>
<script src="~/Scripts/sw_scripts/Course_Project/Student/focuses.js"></script>



