﻿@{
    ViewBag.Title = "Дисциплины";
    Layout = "~/Views/Shared/_LecturerAdminLayout.cshtml";
}

@*<script>
        window.discModel = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model))');
    </script>*@

<!-- 2-column layout -->
<div ng-app="disciplinesApp" ng-controller="disciplineMainController">
    <div class="row">

        <!-- column 4 -->
        <div class="col-sm-4 col-xs-12 col-lg-4 col-md-4 sidebar-offcanvas">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Дисциплины
                        <button class="btn btn-link btn-xs pull-right" data-toggle="popover" data-trigger ="focus" title="Дисциплины" data-content="В этой секции выводится список прослушиваемых вами дисциплин. В архиве хранятся все завершённые курсы и информация по ним." data-placement="bottom">
                                <span class="glyphicon glyphicon-question-sign">
                                </span>
                        </button>
                        <span class="clearfix">
                        </span>
                    </h3>
                </div>
                <div class="list-group fixed-list area-bordered" role="navigation" id="disc-list">
                    <h4 class="text-info text-center" ng-show="!ready">Подождите... Данные загружаются...</h4>
                    <h4 class="text-warning text-center" ng-show="model.Disciplines.length == 0" ng-cloak>Отсутствуют прослушиваемые Вами дисциплины</h4>
                    <div ng-show="model.Disciplines.length > 0">
                        <discipline ng-repeat="discipline in model.Disciplines track by discipline.DisciplineId" discipline="discipline"></discipline>
                    </div>
                </div>

                <div class="form-group text-center aside-toolbar-form">
                    <button class="btn btn-sm btn-info" ng-class="{active: !current}" data-toggle="tooltip" data-placement="bottom" title="Архив" ng-click="getArchievedModel()"><i class="glyphicon glyphicon-fast-backward"></i></button>
                    <button class="btn btn-sm btn-info" ng-class="{active: current}" data-toggle="tooltip" data-placement="bottom" title="Текущие" id="current-btn" ng-click="getCurrentModel()"><i class="glyphicon glyphicon-play"></i></button>
                </div>
            </div>

        </div><!-- /column 4 -->
        <!-- column 4 -->
        <div class="col-sm-4 col-xs-12 col-lg-4 col-md-4 sidebar-offcanvas" id="sidebar">
            <div class="panel panel-info height-256px">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Года и семестры 
                        <button class="btn btn-link btn-xs pull-right" data-toggle="popover" data-trigger ="focus" title="Года и семестры" data-content="Дисциплина может прослушиваться как один так и несколько семестров. Чтобы специфицировать выводимую информацию, уточните эти данные." data-placement="bottom">
                            <span class="glyphicon glyphicon-question-sign">
                            </span>
                        </button>
                        <span class="clearfix">
                        </span>
                    </h3>
                </div>
                <div class="list-group fixed-list height-215px" role="navigation" id="DFY-list">
                    <h4 class="text-info text-center" ng-show="!ready">Подождите... Данные загружаются...</h4>
                    <h4 class="text-warning text-center" ng-show="model.Disciplines.length == 0" ng-cloak>Отсутствуют прослушиваемые Вами дисциплины</h4>

                    <h4 class="text-center text-warning" ng-cloak ng-show="currentDiscipline.body != null && (model.DFYs[currentDiscipline.body.DisciplineId] == undefined || model.DFYs[currentDiscipline.body.DisciplineId].length == 0)">Вы не прослушивали данную дисциплину. Обратитесь в техподдержку. </h4>

                    <h4 class="text-center text-info" ng-cloak ng-show="currentDiscipline.body == null && model.Disciplines.length > 0">Выберите дисциплину</h4>

                    <div ng-show="model.DFYs[currentDiscipline.body.DisciplineId] != undefined && model.DFYs[currentDiscipline.body.DisciplineId].length > 0">
                        <dfy ng-repeat="dfy in model.DFYs[currentDiscipline.body.DisciplineId] track by dfy.DFYId" dfy="dfy"></dfy>
                    </div>
                </div>
            </div>

        </div><!-- /column 4 -->
        <!-- column 4 -->
        <div class="col-sm-4 col-xs-12 col-lg-4 col-md-4 sidebar-offcanvas" id="sidebar">
            <div class="panel panel-info height-256px">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">К/Т 
                        <button class="btn btn-link btn-xs pull-right" data-toggle="popover" data-trigger ="focus" title="К/т" data-content="В этой секции можно посмотреть общую информацию о контрольных точках по выбранной дисциплине за выбранный год и семестр" data-placement="bottom">
                            <span class="glyphicon glyphicon-question-sign">
                            </span>
                        </button>
                        <span class="clearfix">
                        </span>
                    </h3>
                </div>
                <div class="list-group fixed-list height-215px" role="navigation" id="CP-list">
                    <h4 class="text-info text-center" ng-show="!ready">Подождите... Данные загружаются...</h4>
                    <h4 class="text-warning text-center" ng-show="model.Disciplines.length == 0" ng-cloak>Отсутствуют прослушиваемые Вами дисциплины</h4>

                    <h4 class="text-warning text-center" ng-cloak ng-show="currentDFY.body != null && (model.ControlPoints[currentDFY.body.DFYId] == undefined || model.ControlPoints[currentDFY.body.DFYId].length == 0)">Отсутствуют контрольные точки по выбранным критериям</h4>

                    <h4 class="text-center text-info" ng-cloak ng-show="ready && currentDFY.body == null && model.Disciplines.length > 0">Выберите учебный год и семестр</h4>

                    <div ng-show="model.ControlPoints[currentDFY.body.DFYId] != undefined && model.ControlPoints[currentDFY.body.DFYId].length > 0">
                        <cp ng-repeat="cp in model.ControlPoints[currentDFY.body.DFYId] track by cp.ControlPointId" cp="cp"></cp>
                    </div>
                </div>
            </div>

        </div><!-- /column 4 -->
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="bs-callout bs-callout-info">
                <div class="material-header">
                    <h3 class="float-left">Виды работы и материалы 
                    </h3>
                    <button class="btn btn-link btn-sm pull-right" data-toggle="popover" data-trigger ="focus" title="Виды работ" data-content="Здесь представлено общее описание предстоящих видов работ и материалы по ним. Более подробные детали по ним приведены на странице Группы -> Контроли" data-placement="bottom">
                        <span class="glyphicon glyphicon-question-sign">
                        </span>
                    </button>
                    <div class="clear-both"></div>
                </div>
                <div class="panel-group" id="accordion">
                    <h4 class="text-info text-center" ng-show="!ready">Подождите... Данные загружаются...</h4>
                    <h4 class="text-warning text-center" ng-show="model.Disciplines.length == 0" ng-cloak>Отсутствуют прослушиваемые Вами дисциплины</h4>

                    <h4 ng-cloak ng-show="currentCP.body != null && (model.WorkTypes[currentCP.body.ControlPointId] == undefined || model.WorkTypes[currentCP.body.ControlPointId].length == 0)" class="text-warning text-center">Отсутствуют виды работ по выбранной К/Т</h4>

                    <h4 ng-cloak class="text-center text-info" ng-show="ready && currentCP.body == null  && model.Disciplines.length > 0">Выберите контрольную точку</h4>

                    <div ng-show="model.WorkTypes[currentCP.body.ControlPointId] != undefined && model.WorkTypes[currentCP.body.ControlPointId].length > 0">
                        <work-type ng-repeat="workType in model.WorkTypes[currentCP.body.ControlPointId] track by workType.WorkTypeId" work-type="workType" model="model"></work-type>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!--response modal-->
    <div class="modal fade" role="dialog" id="response-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <h4 ng-bind="response.r"></h4>
                </div>
                <footer class="modal-footer">
                    <input data-dismiss="modal" type="button" class="btn btn-default modal-btn" id="response-ok" value="Ок">
                </footer>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/bundles/disciplineMainStudent")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
