﻿<a href="#" ng-click="select($event)" class="list-group-item break-word ng-class: discipline.activity">
    <div class="row">
        <div class="col-lg-10 col-md-10 col-xs-10 col-sm-10">
            <h4 class="list-group-item-heading page-header" ng-bind="discipline.DisciplineName"></h4>
        </div>
        <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">
            <span class="badge" data-toggle="tooltip" data-placement="left" title="Курсовой проект" ng-show="discipline.IsCourseProject">К</span>
            <span class="badge ng-class:discipline.activity" data-toggle="tooltip" data-placement="left" title="Вы являетесь лектором" ng-show="discipline.IsAdmin">Л</span>
        </div>
    </div>

    <!--<h4 class="list-group-item-heading page-header">Часть № <span ng-bind="index"></span> </h4>-->
    <p class="list-group-item-text">Учебный год: <span ng-bind="discipline.Year"></span></p>
    <p class="list-group-item-text">Семестр: <span ng-bind="discipline.Semester"></span></p>
    <p class="list-group-item-text">Лекторы: <span ng-show="discipline.LecturerNames.length == 0">не назначены</span> <span ng-repeat="lecturer in discipline.LecturerNames track by lecturer.Id"><span ng-bind="lecturer.FIO"></span><span ng-show="!$last">, </span></span></p>
    <p class="list-group-item-text">Ассистенты: <span ng-show="discipline.AssistantsNames.length == 0">не назначены</span> <span ng-repeat="assistant in discipline.AssistantsNames track by assistant.Id"><span ng-bind="assistant.FIO"></span><span ng-show="!$last">, </span></span></p>
</a>
