﻿@model NLM.WEB.Models.Account.PasswordChangeViewModel

@using (Ajax.BeginForm("ChangePassword",null,  new AjaxOptions { UpdateTargetId = "passwordResults" }, new { id="PassForm" }))
{
    @Html.AntiForgeryToken()

    <input type="hidden" id="hiddenPassKey" name="Key" value="@Convert.ToBase64String(Guid.NewGuid().ToByteArray())" />

    <div class="form-horizontal panel panel-success">
        <div class="panel-heading page-header reg-header text-center">
            <h4>Смена пароля</h4>
            <h5 class="reg-h"> С помощью этой формы Вы можете сменить свой пароль</h5>
        </div>

        <div class="form-group register-dipper-div">
            @Html.LabelFor(model => model.Mail, "Текущий e-mail:", htmlAttributes: new { @class = "control-label col-md-4 col-lg-4 col-sm-4 col-xs-4" })
            <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
                @Html.TextBoxFor(model => model.Mail, new { @class = "form-control", placeholder = "Введите текущий e-mail", required = "required", type = "email" })
                @Html.ValidationMessageFor(model => model.Mail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group register-dipper-div">
            @Html.LabelFor(model => model.Password, "Текущий пароль:", htmlAttributes: new { @class = "control-label col-md-4 col-lg-4 col-sm-4 col-xs-4" })
            <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control", id = "CurrentPasswordBox", placeholder = "Введите текущий пароль", required = "required" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger", id = "LoginErrorMessage" })
            </div>
        </div>

        <div class="form-group register-dipper-div">
            @Html.LabelFor(model => model.NewPassword1, "Новый пароль:", htmlAttributes: new { @class = "control-label col-md-4 col-lg-4 col-sm-4 col-xs-4" })
            <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
                @Html.PasswordFor(model => model.NewPassword1, new { @class = "form-control", id = "NewPasswordBox", placeholder = "Введите новый пароль", required = "required" })
                @Html.ValidationMessageFor(model => model.NewPassword1, "", new { @class = "text-danger", id = "LoginErrorMessage" })
            </div>
        </div>

        <div class="form-group register-dipper-div">
            @Html.LabelFor(model => model.NewPassword2, "Новый пароль:", htmlAttributes: new { @class = "control-label col-md-4 col-lg-4 col-sm-4 col-xs-4" })
            <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
                @Html.PasswordFor(model => model.NewPassword2, new { @class = "form-control", id = "ConfirmPasswordBox", placeholder = "Повторите новый пароль", required = "required" })
                @Html.ValidationMessageFor(model => model.NewPassword2, "", new { @class = "text-danger", id = "LoginErrorMessage" })
            </div>
        </div>


        <div class="form-group text-center">
            <div id="passwordResults"></div>
        </div>

        <button class="btn btn-success btn-sm user-page-save pull-right" id="password-change" type="submit">Сохранить</button>
        <div class="clearfix"></div>
    </div>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/sw_scripts/Secure_Scripts/myEncode.js"></script>

<script >
    function encode(inputId) {
        var login = $("#" + inputId).val();
        var key = $("#hiddenPassKey").val();
        $("#" + inputId).val(bitEncode(login, key));
    }
</script>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

<script>
    $("#PassForm").submit(function () {
        encode("CurrentPasswordBox");
        encode("NewPasswordBox");
        encode("ConfirmPasswordBox");
    });
</script>
