﻿@{
    Layout = null;
}
@Styles.Render("~/Content/css")


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Успешная смена пароля</title>
</head>
<body class="body-half-cut">
    <section>

            <div class="form-horizontal panel panel-info register-div">
                <div class="panel-heading page-header reg-header text-center">
                    <h4> Новый пароль был успешно отправлен на Вашу почту. </h4>
                </div>
                <a href="/Account/Login" class="btn btn-default width-50 a-center" data-toggle="tooltip" data-placement="bottom">
                    На страницу входа
                </a>
            </div>
    </section>
</body>
</html>        
