﻿@{
    String Image = (String)ViewBag.Image;
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="row margin-top-80px">
    <ol class="breadcrumb">
        <li class="active default-cursor">Управление профилем</li>
        <li class="active default-cursor">Редактирование</li>
    </ol>

    @if ((string)Session["Type"] != "Студент")
    {
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <section>
               @Html.Partial("ChangeLoginPartialView")
            </section>

            <section>
               @Html.Partial("ChangePasswordPartialView")
            </section>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <section>
                    <div class="form-horizontal panel panel-warning avatar-div">
                        <div class="panel-heading page-header reg-header text-center img-user-margin-bottom">
                            <h4>Смена аватара</h4>
                            <h5 class="reg-h"> Вы можете сменить свой аватар</h5>
                        </div>
                        <img class="img-thumbnail img-user-profile width-100 height-400" src="@Image" id="image"/>
                        <nav class="navbar navbar-default navbar-static avatar-change-nav">
                            <ul class="nav navbar-nav img-user-profile-btns">
                                <li class="img-user-profile-li"><a href="#" class="btn-file"><span class="glyphicon glyphicon-search"><input type="file" id="imgInput" accept="image/jpeg,image/gif,image/x-png" /></span> Обзор</a></li>
                                <li class="img-user-profile-li"><a href="#" class="a-disabled" id="load-image-btn"><span class="glyphicon glyphicon-ok"></span> Сохранить</a></li>
                            </ul>
                        </nav>
                    </div>
            </section>
        </div>
    }
    else
    {
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <section>
                @Html.Partial("ChangePasswordPartialView")
            </section>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <section>
                @Html.Partial("ChangeLoginPartialView")
            </section>
        </div>
    }
</div>