﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Site")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/")
    @Scripts.Render("~/Scripts/myJs.js")
</head>
<body>
<section class="row">
    <header class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <img src="~/Content/images/header-footer.jpg" alt="Загрузка не удалась."/>
    </header>
    @RenderBody()
    <footer class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <img src="~/Content/images/header-footer.jpg" alt="Загрузка не удалась."/>
    </footer>
</section>
</body>
</html>
