﻿@using NLM.BLL.DTO
@{
    Layout = null;


    UserDTO user = (UserDTO)Session["User"];
    String login = user.Login;
}

<!DOCTYPE html>

<html>
<head>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/scroll")
    <meta charset="utf-8"/>
    <meta name="author" content="Paul Vavilov and Vladimir Swirtchkov"/>
    <meta name="description" content="Lecturer's site alpha'">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>@ViewBag.Title</title>
</head>
<body>
<div class="wrapper">
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#b-menu-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Главная", "Index", "Discipline", null, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse" id="b-menu-1">
                <ul class="nav navbar-nav navbar-right">
                    @if ((string)Session["Placement"] == "CourseProjects")
                    {
                        <li class="active">@Html.ActionLink("Курсовые проекты", "Index", "CourseProjects", null, null)</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Курсовые проекты", "Index", "CourseProjects", null, null)</li>
                    }

                    @if ((string)Session["Placement"] == "Disciplines")
                    {
                        <li class="active">@Html.ActionLink("Дисциплины", "Index", "Discipline", null, null)</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Дисциплины", "Index", "Discipline", null, null)</li>
                    }

                    @if ((string)Session["Placement"] == "Groups")
                    {
                        <li class="active"> @Html.ActionLink("Группы", "Index", "Groups", null, null) </li>
                    }
                    else
                    {
                        <li> @Html.ActionLink("Группы", "Index", "Groups", null, null) </li>
                    }

                    @if ((string)Session["Placement"] == "Controls")
                    {
                        <li class="active"> @Html.ActionLink("Контроли", "Index", "Controls", null, null) </li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Контроли", "Index", "Controls", null, null)</li>
                    }

                    @if ((string)Session["Placement"] == "Literature")
                    {
                        <li class="active"> @Html.ActionLink("Литература", "Index", "Literature", null, null) </li>
                    }
                    else
                    {
                        <li> @Html.ActionLink("Литература", "Index", "Literature", null, null) </li>
                    }

                    @if ((string)Session["Placement"] == "Lecturers")
                    {
                        <li class="active"> @Html.ActionLink("Преподаватели", "Index", "Lecturers", null, null) </li>
                    }
                    else
                    {
                        <li> @Html.ActionLink("Преподаватели", "Index", "Lecturers", null, null) </li>
                    }
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="margin-top-5 margin-bottom-0 page-header text-center default-cursor">Логин: <span class="login-stuff">@login</span></li>
                            <li class="margin-top-5"><a href="/Account/UserPage">Профиль</a></li>
                            <li><a href="/Account/LogOff">Выйти</a></li>
                        </ul>
                    </li>

                    @if ((string)Session["Type"] == "ADMIN")
                    {
                            <li><a class="glyphicon glyphicon-cog margin-top-minus-3px" href="/Config/Admin"></a></li>
                    }

                </ul>
            </div> <!-- /.nav-collapse -->
        </div> <!-- /.container -->
    </div> <!-- /.navbar -->
    <!-- slider -->
    <div id="slider" class="carousel slide" data-ride="carousel">
        <!-- controls -->
        <ol class="carousel-indicators">
            <li data-target="#slider" data-slide-to="0" class=""></li>
            <li data-target="#slider" data-slide-to="1" class="active"></li>
            <li data-target="#slider" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner">
            <!-- slides -->
            <div class="item active">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Бета-тест</h1>
                        <p>
                            В данный момент проект находится в стадии бета-тестирования. Вы можете помочь его развитию, уведомляя техподдержку о любых найденных проблемах. Также приветствуется конструктивная критика.
                        </p>
                        @*<p>
                            <a class="btn btn-lg btn-default" href="#" role="button">Button 1</a>
                        </p>*@
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Техподдержка</h1>
                        <p><a href="mailto:pv.unnamed@gmail.com">pv.unnamed@gmail.com</a></p>
                        <p><a href="mailto:napoleon.emperor@mail.ru">napoleon.emperor@mail.ru</a></p>
                        @*<p>
                            <a class="btn btn-lg btn-primary" href="#" role="button">Button 2</a>
                        </p>*@
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Финансовая поддержка</h1>
                        <p>
                            В данный момент команда проекта испытывает финансовые трудности. Вы можете поддержать их с помощью кошельков WebMoney:
                        </p>
                        <p>WMZ: Z897510400525</p>
                        <p>WMU: U333583950473</p>
                        @*<p>
                            <a class="btn btn-lg btn-warning" href="#" role="button">Button 3</a>
                        </p>*@
                    </div>
                </div>
            </div>
        </div>
        <!-- left-right controls -->
        <a class="left carousel-control" href="#slider" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#slider" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    <main class="container">
        @RenderBody()
    </main>
</div>

<footer class="footer navbar navbar-default">
    <div class="text-center">
        <p class="navbar-text my-nav-text">&copy Vavilov & Swerchkov Ltd 2015-2016</p>
        <p class="navbar-text my-nav-text">All rights reserved. @Html.ActionLink("About", "About", "Shared", null, null) </p>
    </div>
</footer>
</body>
</html>