﻿@using NLM.BLL.DTO
@{
    Layout = null;

    UserDTO user = (UserDTO)Session["User"];
    String login = user.Login;
}

@{Html.EnableClientValidation(true);}
@{Html.EnableUnobtrusiveJavaScript(true);}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Paul Vavilov and Vladimir Swertchkov" />
    <meta name="description" content="Lecturer's site alpha'">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Профиль</title>
    @Styles.Render("~/Content/css")
</head>
<body>
<div class="wrapper">
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#b-menu-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Главная", "Index", "Discipline", null, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse" id="b-menu-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Курсовые проекты", "Index", "CourseProjects", null, null)</li>
                    <li>@Html.ActionLink("Дисциплины", "Index", "Discipline", null, null)</li>
                    <li> @Html.ActionLink("Группы", "Index", "Groups", null, null) </li>
                    <li>@Html.ActionLink("Контроли", "Index", "Controls", null, null)</li>
                    <li> @Html.ActionLink("Литература", "Index", "Literature", null, null) </li>
                    <li> @Html.ActionLink("Преподаватели", "Index", "Lecturers", null, null) </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="margin-top-5 margin-bottom-0 page-header text-center default-cursor">Логин: <span class="login-stuff">@login</span></li>
                            <li class="margin-top-5"><a href="/Account/UserPage">Профиль</a></li>
                            <li><a href="/Account/LogOff">Выйти</a></li>
                        </ul>
                    </li>
                </ul>
            </div> <!-- /.nav-collapse -->
        </div> <!-- /.container -->
    </div> <!-- /.navbar -->
    <main class="container">
        @RenderBody()
    </main>
</div>

<footer class="footer navbar navbar-default">
    <div class="text-center">
        <p class="navbar-text my-nav-text">&copy Vavilov & Swerchkov Ltd 2015-2016</p>
        <p class="navbar-text my-nav-text">All rights reserved. @Html.ActionLink("About", "About", "Shared", null, null) </p>
    </div>
</footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("/Scripts/jquery.unobtrusive-ajax.js")"></script>

    @if ((string)Session["Type"] != "Студент")
    {
        @Scripts.Render("~/bundles/userPage")
    }

</body>
</html>