﻿
@{
    ViewBag.Title = "О нас";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="row margin-top-80px">
    <ol class="breadcrumb">
        <li class="active default-cursor">О нас</li>
    </ol>

    <div class="container">
        <section class="well">
                <h4 class="text-center page-header">Создатели</h4>
                <p class="about-p text-center">Ст. гр. БИКС-14-3</p>
                <p class="about-p text-center">Алексеев Ярослав и Белобров Евгений</p>
                <h4 class="text-center page-header">Благодарности</h4>
                <p class="about-p text-center">Ст. гр. ПИ-14-3 Чачанидзе Сергею за помощь в одном из этапов разработки</p>
                <p class="about-p text-center">Куратору проекта Мазуровой О.А.</p>
                <p class="about-p text-center">Ст. гр. ПИ-14-3 Евгению Попову и его бате за прекрасный сайт metanit.com</p>
                <p class="about-p text-center">Отдельная благодарность Мельниковой Р.В. за финансовую поддержку</p>
                <h4 class="text-center page-header">Техническая поддержка</h4>
                <p class="about-p text-center"><a href="mailto:pv.unnamed@gmail.com">pv.unnamed@gmail.com</a></p>
                <p class="about-p text-center"><a href="mailto:napoleon.emperor@mail.ru">napoleon.emperor@mail.ru</a></p>
                <h4 class="text-center page-header">Счёта WebMoney для пожертвований</h4>
                <p class="about-p text-center">WMZ: Z897510400525</p>
                <p class="about-p text-center">WMU: U333583950473</p>
        </section>
    </div>
</div>