﻿@using NLM.WEB.Controllers
@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout.cshtml";
}

<section class="row">
    <div id="id2" class="col-md-4 col-lg-4 btn btn-slideUp">
        <span class="span-title">Преподавательский состав</span>
    </div>

    <div tabindex="-1" class="col-md-4 col-lg-4">
     
    </div>

    <div class="col-md-4 col-lg-4 btn btn-slideUp">
        <span>Группы</span>
    </div>

    <div class="col-md-4 col-lg-4 btn btn-slideUp">
        <span>Материалы по дисциплинам</span>
    </div>
</section>
