﻿@{
    ViewBag.Title = "Контроли и оценки";
    Layout = "~/Views/Shared/_LecturerAdminLayout.cshtml";
}

<!-- 2-column layout -->
<div class="row row-offcanvas row-offcanvas-right" ng-app="marksApp" ng-controller="filter">
    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 sidebar-offcanvas" id="sidebar">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Группы</h3>
            </div>
            <div class="panel-body">
                <form role="form" class="text-center">
                    <label for="selectField">Выберите учебный год</label>
                    <div class="row padding-sides-10">
                        <div class="input-group">
                            <select class="form-control fullwidth-input" id="selectField" ng-options="year for year in Years"
                                    ng-show="loaded && (Years.length > 0)" ng-model="currentYear"></select>
                            <select class="form-control fullwidth-input" id="selectField" ng-show="loaded && Years.length == 0">
                                <option>Пусто</option>
                            </select>
                            <select class="form-control fullwidth-input" id="selectField" ng-show="!loaded">
                                <option>Данные загружаются</option>
                            </select>
                            <span class="input-group-btn">
                                <button class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Фильтр" 
                                        type="button" ng-click="filterByYear()">
                                    <i class="glyphicon glyphicon-search">

                                    </i>

                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
                        <div class="text-center">
                            <label for="themeList">Выберите группу</label>
                        </div>
                        <div class="list-group fixed-list area-bordered" role="navigation" id="themeList">
                            <a href="#" id="group{{ group }}" class="list-group-item" ng-click="filterByGroup(group)" ng-repeat="group in Groups"
                               ng-show="loaded && Groups.length > 0" onclick="return false;" ng-bind="group" 
                               ng-class="group == currentGroup ? 'active' : ''">
                            </a>
                            <a href="#" class="list-group-item" ng-show="loaded && Groups.length == 0" onclick="return false;"> Нет групп относящихся к данному году. </a>
                            <a href="#" class="list-group-item" ng-show="!loaded" onclick="return false;"> Данные загружаются </a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6">
                        <div class="text-center">
                            <label for="themeList">Выберите дисциплину</label>
                        </div>
                        <div class="list-group fixed-list area-bordered" role="navigation" id="themeList">
                            <a href="#" class="list-group-item" ng-repeat="disc in Disciplines" ng-show="loaded && Disciplines.length > 0"
                               ng-click="filterByDiscipline(disc)" id="disc{{ disc.DisciplineId }}" onclick="return false;" ng-bind="disc.Name"
                               ng-class="currentDiscipline.DisciplineId == disc.DisciplineId ? 'active' : '' ">
                            </a>
                            <a href="#" class="list-group-item" onclick="return false;" ng-show="loaded && Disciplines.length == 0"> Дисциплины отсутствуют </a>
                            <a href="#" class="list-group-item" onclick="return false;" ng-show="!loaded"> Данные загружаются </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!--main-menu-->
        <!-- jumbotron -->
        <div class="jumbotron my-jumbotron" id="tableDiv">
            <div class="table-responsive">
                <table class="table table-hover table=table-condensed">
                    <thead>
                        <tr class="success">
                            <th>ФИО студента</th>
                            <th ng-repeat="cat in Worktypes" ng-bind="cat.Name"></th>
                        </tr>
                    </thead>
                    <tbody ng-show="loaded">

                        <tr ng-repeat="mark in Marks" ng-show="Marks.length > 0" id="{{ mark.UserId }}" ng-click="selectMark(mark)">
                            <td ng-bind="mark.FIO">{{ mark.FIO }}</td>
                            <td ng-repeat="studMark in mark.StudentMarks" ng-bind="studMark.Value">{{ studMark.Value }}</td>
                        </tr>

                        <tr ng-show="Marks.length == 0">
                            <td>
                                Оценки отсутствуют
                            </td>
                        </tr>

                    </tbody>

                    <tbody ng-show="!loaded">
                        <tr>
                            <td>
                                Данные загружаются
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-file-upload.min.js"></script>

<script src="~/Scripts/sw_scripts/Marks/Student/jsExtension.js"></script>
<script src="~/Scripts/sw_scripts/Marks/Student/app.js"></script>

<script src="~/Scripts/sw_scripts/Marks/Student/Services/loadService.js"></script>
<script src="~/Scripts/sw_scripts/Marks/Student/Services/selectService.js"></script>
<script src="~/Scripts/sw_scripts/Marks/Student/Services/StoreService.js"></script>

<script src="~/Scripts/sw_scripts/Marks/Student/Controllers/FilterController.js"></script>
