﻿<div class="modal fade" id="messageDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                {{ message.Title }}
            </div>
            <div class="modal-body">
                {{ message.Text }}
            </div>
            <div class="modal-footer text-right">
                <button type="button" class="btn btn-success" ng-click="hide()">
                    Ок
                </button>
            </div>
        </div>
    </div>
</div>
