﻿@{
    ViewBag.Title = "Литература и общие материалы";
    Layout = "~/Views/Shared/_LecturerAdminLayout.cshtml";
}

<div ng-app="literatureApp">
    <div class="container" ng-controller="literatureMainController">
        <div class="row">
            <div class="col-xs-12 col-md-3 col-md-push-9 col-sm-3 col-sm-push-9 col-lg-3 col-lg-push-9">
                <div class="panel panel-default">
                    <div class="text-center navbar navbar-default">
                        <ul class="nav navbar-nav width-100">
                            <li class="width-100">
                                <a class="default-cursor">Выберите дисциплину 
                                    <button class="btn btn-link btn-xs pull-right" data-toggle="popover" data-trigger ="focus" title="Литература и материалы" data-content="На этой странице представлены литература и общие материалы по всем присутствующим на сайте дисциплинам. Вы, как администратор, имеете полный доступ к редактированию всего этого." data-placement="bottom">
                                        <span class="glyphicon glyphicon-question-sign">
                                        </span>
                                    </button>
                                    <span class="clearfix">
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <h4 class="text-info text-center" ng-show="!ready">Подождите... Данные загружаются...</h4>
                    <div ng-cloack ng-show="ready && model.Disciplines.length == 0">
                        <h4 class="text-center text-warning">Вы не ведёте ни одной дисциплины... </h4>
                    </div>
                    <div ng-cloack class="list-group" role="navigation" id="themeList" ng-show="ready && model.Disciplines.length != 0">

                        <discipline ng-repeat="discipline in model.Disciplines track by discipline.DisciplineId" discipline="discipline"></discipline>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-9 col-md-pull-3 col-sm-9 col-sm-pull-3 col-lg-9 col-lg-pull-3">
                <!--literature navbar-->
                <nav class="navbar navbar-default navbar-static">
                    <div class="navbar-header">
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#b-menu-3">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <!-- submenu elements for #b-menu-2 -->
                    <div class="collapse navbar-collapse" id="b-menu-3">
                        <ul class="nav navbar-nav">
                            <li><a class="default-cursor ">Литература: </a></li>
                            <li><a href="#" id="add-lit-btn" ng-click="addLitModal($event)" class="" ng-class="!ready || currentDiscipline.body == null ? 'a-disabled' : ''"><span class="glyphicon glyphicon-plus"></span> Добавить</a></li>
                            <li><a href="#" id="del-lit-btn" ng-click="delLitModal($event)" class="" ng-class="!ready || selectedLiterature.body == null ? 'a-disabled' : ''"><span class="glyphicon glyphicon-remove"></span> Удалить</a></li>
                            <li><a href="#" id="ed-lit-btn" ng-click="editClick($event)" ng-class="!ready || selectedLiterature.body == null ? 'a-disabled' : ''" class=""><span class="glyphicon glyphicon-pencil"></span> Редактировать</a></li>
                            <li><a href="#" id="load-lit-btn" ng-click="loadLitModal($event)" class="" ng-class="!ready || currentDiscipline.body == null ? 'a-disabled' : ''"><span class="glyphicon glyphicon-floppy-disk"></span> Загрузить из txt</a></li>
                            <li><a href="#" ng-click="getTxt($event)" id="txt-lit-btn" class="" ng-class="!ready || currentDiscipline.body == null || model.Literature[currentDiscipline.body.DisciplineId] == undefined || model.Literature[currentDiscipline.body.DisciplineId].length == 0? 'a-disabled' : ''"><span class="glyphicon glyphicon-floppy-save"></span> Выгрузить в txt</a></li>
                        </ul>
                    </div><!-- /.nav-collapse -->
                </nav>

                <div class="bs-callout bs-callout-warning literature-word-wrap">
                    <h4>Литература</h4>
                    <h4 class="text-info text-center" ng-show="!ready">Подождите... Данные загружаются...</h4>
                    <p ng-cloak ng-show="ready && (model.Literature[currentDiscipline.body.DisciplineId] == undefined || model.Literature[currentDiscipline.body.DisciplineId] == null || model.Literature[currentDiscipline.body.DisciplineId].length == 0)">
                        <span class="text-warning"> Список литературы пуст </span>
                    </p>

                    <ol ng-cloak ng-show="ready && (model.Literature[currentDiscipline.body.DisciplineId] != undefined && model.Literature[currentDiscipline.body.DisciplineId] != null)">
                        <literature ng-repeat="literature in model.Literature[currentDiscipline.body.DisciplineId] track by literature.LiteratureId
                                " literature="literature"></literature>
                    </ol>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="bs-callout bs-callout-warning">
                    <div class="material-header">
                        <h4 class="float-left">Материалы</h4>
                        <button class="btn btn-success float-right" data-toggle="tooltip" data-placement="bottom" title="Добавить материал" ng-class="currentDiscipline.body == null ? 'disabled' : ''" ng-click="addMaterialModal()"><i class="glyphicon glyphicon-plus"></i></button>
                        <div class="clear-both"></div>
                        <h4 class="text-info text-center" ng-show="!ready">Подождите... Данные загружаются...</h4>
                        <div ng-cloack ng-show="ready && model.Disciplines.length == 0">
                            <h4 class="text-center text-warning">Вы не изучаете ни одной дисциплины... </h4>
                        </div>
                        <h4 class="text-center text-warning" ng-cloak ng-show="ready && model.Disciplines.length > 0 && (model.Materials[currentDiscipline.body.DisciplineId] == undefined || model.Materials[currentDiscipline.body.DisciplineId].length == 0)">Отсутствуют материалы по этой дисциплине!</h4>
                        <material ng-cloak ng-show="ready && (model.Materials[currentDiscipline.body.DisciplineId] != undefined && model.Materials[currentDiscipline.body.DisciplineId].length > 0)" ng-repeat="material in model.Materials[currentDiscipline.body.DisciplineId] track by material.Id" material="material">
                    </div>
                </div>

            </div>

        </div>


        <!-- Modals -->
        <!--add-modal-->
        <div class="modal fade" role="dialog" id="add-modal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="text-center">Добавление литературы</h4>
                    </div>
                    <div class="modal-body modal-body-paddings">
                        <form role="form" name="addForm" method="POST" ng-controller="literatureAddModalController" ng-submit="save($event)">
                            <div class="form-group text-center">
                                <label for="add-lit" class="modal-label">Название литературы</label>
                                <input ng-model="newLit.Name" required pattern="\S+(\s\S+){0,}" title="Введите название литературы" class="form-control input-center placeholder-default" type="text" id="add-lit" name="LitName" placeholder="Название и описание литературы" />
                            </div>

                            <div class="modal-footer margin-top-5">
                                <div class="pull-right right-buttons">
                                    <button class="btn btn-success right-button modal-btn" type="submit">
                                        Создать
                                    </button>
                                    <button data-dismiss="modal" class="btn btn-danger right-button modal-btn" id="create-cancel-btn">
                                        Отмена
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--delete-modal-->
        <div class="modal fade" id="del-modal" role="dialog" ng-controller="litDelModalController">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="text-center">Удаление литературы</h4>
                    </div>
                    <div class="modal-body text-center">
                        <h4>Вы действительно хотите удалить выбранную литературу?</h4>
                    </div>
                    <footer class="modal-footer margin-top-5">
                        <div class="right-buttons">
                            <button class="btn btn-danger right-button modal-btn" ng-click="delete()" id="del-ok-btn" type="button">
                                Удалить
                            </button>
                            <button data-dismiss="modal" class="btn btn-primary right-button modal-btn" id="lit-del-cancel-btn">
                                Отмена
                            </button>
                        </div>
                    </footer>
                </div>
            </div>
        </div>


        <!--edit-modal-->
        <div class="modal fade" role="dialog" id="edit-modal" ng-controller="litEditModalController">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="text-center">Редактирование литературы</h4>
                    </div>
                    <div class="modal-body modal-body-paddings">
                        @*// FIO
                            // Login
                            // Mail
                            // Post
                            // Department*@
                        <form role="form" name="editForm" class="form-horizontal" action="/Lecturers/EditLecturer" method="POST" ng-submit="save($event)">
                            <div class="form-group text-center">
                                <label for="edit-lit" class="modal-label">Название литературы</label>
                                <input required pattern="\S+(\s\S+){0,}" title="Введите новые название и описание литературы" class="form-control input-center placeholder-default" type="text" id="edit-lit" name="Name" ng-model="editLit.Name" placeholder="Новые название и описание литературы" />
                            </div>
                            <div class="modal-footer margin-top-5">
                                <div class="pull-right right-buttons">
                                    <button class="btn btn-success right-button modal-btn" id="edit-btn" type="submit">
                                        Сохранить
                                    </button>
                                    <button data-dismiss="modal" class="btn btn-danger right-button modal-btn" id="edit-cancel-btn">
                                        Отмена
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" role="dialog" id="load-lit-modal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="text-center">Загрузка списка литературы из файла. Поддерживаются файлы с расширением <code>.txt</code> и размером не более 10 Мб</h4>
                    </div>
                    <div class="modal-body modal-body-paddings" ng-controller="litTxtLoadController">
                        <form role="form" name="matLoadForm" ng-submit="checkLitTxtFile($event)">
                            <div class="form-group text-center">
                                <label class="modal-label">Выбор файла</label>
                                <div ng-show="litUploader.isHTML5">
                                    <div nv-file-drop uploader="litUploader">
                                        <div nv-file-over uploader="litUploader" over-class="another-file-over-class" class="well my-drop-zone">
                                            Перетащите файл или нажмите кнопку "Обзор"
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <span class="btn btn-info btn-file width-80" id="mat-file">
                                        Обзор <input class="file-input" type="file" nv-file-select uploader="litUploader" id="load-lit-file">
                                    </span>
                                    <label class="width-200 file-label modal-label" for="mat-file" id="fileLabel">
                                        <span ng-repeat="item in litUploader.queue" ng-bind="item._file.name"></span>
                                    </label>
                                </div>
                                <label for="progress" class="modal-label">Состояние загрузки</label>
                                <div class="progress modal-progress" style="" id="progress">
                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': litUploader.progress + '%' }" style="width: 0%;"></div>
                                </div>

                            </div>

                            <div class="modal-footer margin-top-5">
                                <div class="pull-right right-buttons">
                                    <button type="submit" class="btn btn-success right-button modal-btn" ng-disabled="!litUploader.getNotUploadedItems().length" disabled="disabled">
                                        Загрузить
                                    </button>
                                    <button data-dismiss="modal" class="btn btn-danger right-button modal-btn">
                                        Отмена
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--materials modals-->
        @*public string Type { get; set; }
            public HttpPostedFileBase MaterialFile { get; set; }*@
        <div ng-controller="materialSubController">
            <!--add-modal-->
            <div class="modal fade" role="dialog" id="mat-add-modal">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="text-center">Загрузка материала. Поддерживаются файлы с расширениями <code>.ppt</code>, <code>.pptx</code>, <code>.pps</code>, <code>.ppsx</code>, <code>.xls</code>, <code>.xlsx</code>, <code>.doc</code>, <code>.docx</code>, <code>.zip</code>, <code>.txt</code>, <code>.pdf</code> размером не более 4 Мб</h4>
                        </div>
                        <div class="modal-body modal-body-paddings">
                            <form role="form" name="matLoadForm" ng-submit="addUploader.uploadAll()">
                                <div class="form-group text-center">
                                    <label class="modal-label">Выбор файла</label>
                                    <div ng-show="addUploader.isHTML5">
                                        <div nv-file-drop uploader="addUploader">
                                            <div nv-file-over uploader="addUploader" over-class="another-file-over-class" class="well my-drop-zone">
                                                Перетащите файл или нажмите кнопку "Обзор"
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="btn btn-info btn-file width-80" id="mat-file">
                                            Обзор <input class="file-input" type="file" nv-file-select uploader="addUploader" id="mat-lit-file">
                                        </span>
                                        <label class="width-200 file-label modal-label" for="mat-file" id="fileLabel">
                                            <span ng-repeat="item in addUploader.queue" ng-bind="item._file.name"></span>
                                        </label>
                                    </div>
                                    <label for="progress" class="modal-label">Состояние загрузки</label>
                                    <div class="progress modal-progress" style="" id="progress">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': addUploader.progress + '%' }" style="width: 0%;"></div>
                                    </div>

                                </div>

                                <div class="modal-footer margin-top-5">
                                    <div class="pull-right right-buttons">
                                        <button type="submit" class="btn btn-success right-button modal-btn" ng-disabled="!addUploader.getNotUploadedItems().length" disabled="disabled">
                                            Загрузить
                                        </button>
                                        <button data-dismiss="modal" class="btn btn-danger right-button modal-btn">
                                            Отмена
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!--delete-modal-->
            <div class="modal fade" id="mat-del-modal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="text-center">Удаление материала</h4>
                        </div>
                        <div class="modal-body text-center">
                            <h4>Вы действительно хотите удалить выбранный материал</h4>
                        </div>
                        <footer class="modal-footer margin-top-5">
                            <div class="right-buttons">
                                <button class="btn btn-danger right-button modal-btn" ng-click="delete()" id="del-ok-btn" type="button">
                                    Удалить
                                </button>
                                <button data-dismiss="modal" class="btn btn-primary right-button modal-btn" id="mat-del-cancel-btn">
                                    Отмена
                                </button>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>

            <!--edit-modal-->
            <div class="modal fade" role="dialog" id="mat-edit-modal">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="text-center">Переименование загруженного файла</h4>
                        </div>
                        <div class="modal-body modal-body-paddings">
                            <form role="form" name="matLoadForm" ng-submit="edit()">
                                <div class="form-group text-center">
                                    <label for="newMatName" class="modal-label">Имя файла</label>
                                    <input id="newMatName" placeholder="Введите новое имя файла" class="form-control input-center" type="text" ng-model="editMaterial.Name" required />
                                </div>

                                <div class="modal-footer margin-top-5">
                                    <div class="pull-right right-buttons">
                                        <button type="submit" class="btn btn-success right-button modal-btn">
                                            Переименовать
                                        </button>
                                        <button data-dismiss="modal" class="btn btn-danger right-button modal-btn">
                                            Отмена
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--response modal-->
        <div class="modal fade" role="dialog" id="response-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <h4 ng-bind="response.r"></h4>
                    </div>
                    <footer class="modal-footer">
                        <input data-dismiss="modal" type="button" class="btn btn-default modal-btn" id="response-ok" value="Ок">
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/angular")

@Scripts.Render("~/bundles/literatureAdmin")
@Scripts.Render("~/bundles/angularFileUploader")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/literatureFocuses")
