﻿@{
    ViewBag.Title = "Литература и общие материалы";
    Layout = "~/Views/Shared/_LecturerAdminLayout.cshtml";
}

<div ng-app="literatureApp">
    <div class="container" ng-controller="literatureMainController">
        <div class="row">
            <div class="col-xs-12 col-md-3 col-md-push-9 col-sm-3 col-sm-push-9 col-lg-3 col-lg-push-9">
                <div class="panel panel-default">
                    <div class="text-center navbar navbar-default">
                        <ul class="nav navbar-nav width-100">
                            <li class="width-100">
                                <a class="default-cursor">Выберите дисциплину 
                                    <button class="btn btn-link btn-xs pull-right" data-toggle="popover" data-trigger ="focus" title="Литература и материалаы" data-content="На этой странице представлены литература и общие материалы по прослушиваемым Вами дисциплинам. Также в архиве можно выбрать уже завершённые курсы и материалы по ним." data-placement="bottom">
                                        <span class="glyphicon glyphicon-question-sign">
                                        </span>
                                    </button>
                                    <span class="clearfix">
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <h4 class="text-info text-center" ng-show="!ready">Подождите... Данные загружаются...</h4>
                    <div class="form-group text-center aside-toolbar-form">
                        <button class="btn btn-sm btn-info" ng-class="{active: tracking == 'past'}" data-toggle="tooltip" data-placement="bottom" title="Архив" ng-click="getArchievedModel()"><i class="glyphicon glyphicon-fast-backward"></i></button>
                        <button class="btn btn-sm btn-info" ng-class="{active: tracking == 'now'}" data-toggle="tooltip" data-placement="bottom" title="Текущие" id="current-btn" ng-click="getCurrentModel()"><i class="glyphicon glyphicon-play"></i></button>
                    </div>
                    <div ng-cloack ng-show="ready && model.Disciplines.length == 0">
                        <h4 class="text-center text-warning">Вы не изучаете ни одной дисциплины... </h4>
                    </div>
                    <div ng-cloack class="list-group" role="navigation" id="themeList" ng-show="ready && model.Disciplines.length != 0">

                        <discipline ng-repeat="discipline in model.Disciplines track by discipline.DisciplineId" discipline="discipline"></discipline>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-9 col-md-pull-3 col-sm-9 col-sm-pull-3 col-lg-9 col-lg-pull-3">
                <!--literature navbar-->
                <nav class="navbar navbar-default navbar-static">
                    <div class="navbar-header">
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#b-menu-3">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <!-- submenu elements for #b-menu-2 -->
                    <div class="collapse navbar-collapse" id="b-menu-3">
                        <ul class="nav navbar-nav">
                            <li><a class="default-cursor ">Литература: </a></li>
                            <li><a href="#" ng-click="getTxt($event)" id="txt-lit-btn" class="" ng-class="!ready || currentDiscipline.body == null || model.Literature[currentDiscipline.body.DisciplineId] == undefined || model.Literature[currentDiscipline.body.DisciplineId].length == 0? 'a-disabled' : ''"><span class="glyphicon glyphicon-floppy-save"></span> Выгрузить в txt</a></li>
                        </ul>
                    </div><!-- /.nav-collapse -->
                </nav>
                <div class="bs-callout bs-callout-warning literature-word-wrap">
                    <h4>Литература</h4>
                    <h4 class="text-info text-center" ng-show="!ready">Подождите... Данные загружаются...</h4>
                    <p ng-cloak ng-show="ready && (model.Literature[currentDiscipline.body.DisciplineId] == undefined || model.Literature[currentDiscipline.body.DisciplineId] == null || model.Literature[currentDiscipline.body.DisciplineId].length == 0)">
                        <span class="text-warning"> Список литературы пуст </span>
                    </p>

                    <ol ng-cloak ng-show="ready && (model.Literature[currentDiscipline.body.DisciplineId] != undefined && model.Literature[currentDiscipline.body.DisciplineId] != null)">
                        <literature ng-repeat="literature in model.Literature[currentDiscipline.body.DisciplineId] track by literature.LiteratureId
                                " literature="literature"></literature>
                    </ol>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="bs-callout bs-callout-warning">
                    <div class="material-header">
                        <h4 class="float-left">Материалы</h4>
                        <div class="clear-both"></div>
                        <h4 class="text-info text-center" ng-show="!ready">Подождите... Данные загружаются...</h4>
                        <div ng-cloack ng-show="ready && model.Disciplines.length == 0">
                            <h4 class="text-center text-warning">Список материалов пуст... </h4>
                        </div>
                        <h4 class="text-center text-warning" ng-cloak ng-show="ready && model.Disciplines.length >0 && (model.Materials[currentDiscipline.body.DisciplineId] == undefined || model.Materials[currentDiscipline.body.DisciplineId].length == 0)">Отсутствуют материалы по этой дисциплине!</h4>
                        <material ng-cloak ng-show="ready && (model.Materials[currentDiscipline.body.DisciplineId] != undefined && model.Materials[currentDiscipline.body.DisciplineId].length > 0)" ng-repeat="material in model.Materials[currentDiscipline.body.DisciplineId] track by material.Id" material="material">
                    </div>
                </div>

            </div>

        </div>


        <!-- Modals -->
        <!--response modal-->
        <div class="modal fade" role="dialog" id="response-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <h4 ng-bind="response.r"></h4>
                    </div>
                    <footer class="modal-footer">
                        <input data-dismiss="modal" type="button" class="btn btn-default modal-btn" id="response-ok" value="Ок">
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/bundles/literatureStudent")

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")