﻿@{
    ViewBag.Title = "Преподавательский состав";
    Layout = "~/Views/Shared/_LecturerAdminLayout.cshtml";
}

<div ng-app="lecturersApp" id="lect-div">
    <div ng-controller="lecturersMainController">

        <!-- second menu bar -->
        <nav class="navbar navbar-default" data-spy="affix" data-offset-top="197" id="second-nav">
            <div class="navbar-header">
                <button id="nav-toggle" class="navbar-toggle" type="button" data-toggle="collapse" data-target="#b-menu-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- submenu elements for #b-menu-2 -->
            <div class="collapse navbar-collapse" id="b-menu-2">
                <ul class="nav navbar-nav">
                    <li><a class="default-cursor">Преподавательский состав: </a></li>
                    <li><a class="cursor-pointer" id="add-btn" ng-click="addModal()"><span class="glyphicon glyphicon-plus"></span> Добавить</a></li>
                    <li><a class="cursor-pointer hide-show-button" id="del-btn" ng-class="selLect.lecturerBody == null ? 'a-disabled' : ''" ng-click="delModal()"><span class="glyphicon glyphicon-remove"></span> Удалить</a></li>
                    <li><a class="cursor-pointer hide-show-button" id="ed-btn" ng-class="selLect.lecturerBody == null ? 'a-disabled' : ''" ng-click="editClick()"><span class="glyphicon glyphicon-pencil"></span> Редактировать</a></li>
                </ul>
                <span class="pull-right admin-lect-help-btn">
                    <button class="btn btn-link" data-toggle="popover" data-trigger ="focus" title="Преподаватели" data-content="На этой странице вы можете ознакомиться со списком преподавателей, зарегистрированных на нашем ресурсе, а также зарегистрировать новых. При регистрации преподавателя, он получит пригласительное письмо на указанный e-mail." data-placement="bottom">
                        <span class="glyphicon glyphicon-question-sign">
                        </span>
                    </button>
                </span>
                <span class="clearfix"></span>
            </div><!-- /.nav-collapse -->
        </nav>
        @*}*@

        <div class="row">
            <h3 class="text-center text-info" ng-hide="ready">Подождите... Данные загружаются... </h3>
            <h3 class="text-center text-warning" ng-cloak ng-show="ready && lecturerCollection.length == 0">Преподавательский состав пуст...</h3>
            <div id="lect-div" ng-show="ready && lecturerCollection.length > 0">
                <lecturer ng-cloak class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="overflow: auto;" ng-repeat='lecturer in lecturerCollection track by lecturer.User.UserId' lecturer="lecturer" />
            </div>
            @*}*@
        </div>
        <!--add-modal-->
        <div class="modal fade" role="dialog" id="add-modal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="text-center">Добавление преподавателя</h4>
                    </div>
                    <div class="modal-body modal-body-paddings">
                        <form role="form" name="addForm" action="/Lecturers/CreateLecturer" method="POST" ng-controller="lecturersAddModalController" ng-submit="save($event)">
                            <div class="form-group text-center">
                                <label for="add-fio" class="modal-label">ФИО</label>
                                <input ng-model="newLecturer.FIO" required pattern="\S+(\s\S+){2}" title="Введите ФИО преподавателя" class="form-control input-center placeholder-default" type="text" id="add-fio" name="FIO" placeholder="ФИО преподавателя" />
                                <label for="add-mail" class="modal-label">E-mail</label>
                                <input ng-model="newLecturer.Email" required title="Введите e-mail преподавателя" class="form-control input-center placeholder-default" type="email" id="add-mail" name="Email" placeholder="E-mail преподавателя" />
                                <label for="add-post" class="modal-label">Должность</label>
                                <input ng-model="newLecturer.Post" required pattern="\S+(\s\S+){0,}" title="Введите должность преподавателя" class="form-control input-center placeholder-default" type="text" id="add-post" name="Post" placeholder="Должность преподавателя" />
                                <label for="add-department" class="modal-label">Кафедра</label>
                                <input ng-model="newLecturer.Department" required pattern="\S+(\s\S+){0,}" title="Введите кафедру преподавателя" class="form-control input-center placeholder-default" type="text" id="add-department" name="Department" placeholder="Кафедра преподавателя" />
                                <label for="add-spec" class="modal-label">Специализация</label>
                                <textarea ng-model="newLecturer.Specialization" title="Введите специализацию преподавателя" class="form-control input-center placeholder-default" type="text" id="add-spec" name="Spec" placeholder="Специализация(не обязательна)"></textarea>
                            </div>

                            <div class="modal-footer margin-top-5">
                                <div class="pull-right right-buttons">
                                    <button class="btn btn-success right-button modal-btn" type="submit">
                                        Создать
                                    </button>
                                    <button data-dismiss="modal" class="btn btn-danger right-button modal-btn" id="create-cancel-btn">
                                        Отмена
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--delete-modal-->
        <div class="modal fade" id="del-modal" role="dialog" ng-controller="lDelController">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="text-center">Удаление преподавателя</h4>
                    </div>
                    <div class="modal-body text-center">
                        <h4>Вы действительно хотите удалить выбранного преподавателя и все связанные с ним данные?</h4>
                    </div>
                    <footer class="modal-footer margin-top-5">
                        <div class="right-buttons">
                            <button class="btn btn-danger right-button modal-btn" ng-click="delete()" id="del-ok-btn" type="button">
                                Удалить
                            </button>
                            <button data-dismiss="modal" class="btn btn-primary right-button modal-btn" id="del-cancel-btn">
                                Отмена
                            </button>
                        </div>
                    </footer>
                </div>
            </div>
        </div>


        <!--edit-modal-->
        <div class="modal fade" role="dialog" id="edit-modal" ng-controller="lecturersEditModalController">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="text-center">Редактирование преподавателя</h4>
                    </div>
                    <div class="modal-body modal-body-paddings">
                        <form role="form" name="editForm" class="form-horizontal" action="/Lecturers/EditLecturer" method="POST" ng-submit="save($event)">
                            <div class="form-group text-center">
                                <label for="edit-fio" class="modal-label">Новое ФИО</label>
                                <input required pattern="\S+(\s\S+){2}" title="Введите новое ФИО преподавателя" class="form-control input-center placeholder-default" type="text" id="edit-fio" name="FIO" ng-model="editLecturer.User.FIO" placeholder="Новое ФИО преподавателя" />
                                <label for="edit-post" class="modal-label">Новая должность</label>
                                <input required pattern="\S+(\s\S+){0,}" title="Введите новую должность преподавателя" class="form-control input-center placeholder-default" type="text" id="edit-post" name="Post" ng-model="editLecturer.Post" placeholder="Должность преподавателя" />
                                <label for="edit-department" class="modal-label">Новая кафедра</label>
                                <input required pattern="\S+(\s\S+){0,}" title="Введите новую кафедру преподавателя" class="form-control input-center placeholder-default" type="text" id="edit-department" name="Department" ng-model="editLecturer.Department" placeholder="Кафедра преподавателя" />
                                <label for="edit-spec" class="modal-label">Специализация</label>
                                <textarea ng-model="editLecturer.Spec" title="Введите новую специализацию преподавателя" class="form-control input-center placeholder-default" type="text" id="edit-spec" name="Spec" placeholder="Специализация(не обязательна)"></textarea>
                            </div>
                            <div class="modal-footer margin-top-5">
                                <div class="pull-right right-buttons">
                                    <button class="btn btn-success right-button modal-btn" id="edit-btn" type="submit">
                                        Сохранить
                                    </button>
                                    <button data-dismiss="modal" class="btn btn-danger right-button modal-btn" id="edit-cancel-btn">
                                        Отмена
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!--response modal-->
        <div class="modal fade" role="dialog" id="response-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <h4 ng-bind="response.r"></h4>
                    </div>
                    <footer class="modal-footer">
                        <input data-dismiss="modal" type="button" class="btn btn-default modal-btn" id="response-ok" value="Ок">
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/lecturersAdmin")

