﻿<div class="modal fade" id="confirmDelete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                {{Message.Title}}
            </div>
            <div class="modal-body">
                {{ Message.Body }}
            </div>

            <div class="modal-footer text-right">
                <input type="button" class="btn btn-success" ng-click="delete()" value="Удалить" />
                <input type="button" class="btn btn-danger" ng-click="cancelConfirm()" value="Отмена" />
            </div>
        </div>
    </div>
</div>