﻿<div class="well lecturer-well ng-class: lecturer.activity" ng-click="select()">
    <div class="bs-callout bs-callout-info lecturer">
        <h4 class="text-center page-header overflow-auto" id="lect-fio" ng-bind="lecturer.User.FIO"></h4>
        <div class="row img-container text-center">
            <img ng-src="{{ lecturer.User.Image }}" class="img-thumbnail img-responsive inline-block" alt="Здесь должен быть аватар" />
        </div>
        <p class="lecturers-p" id="lect-log">Email: <span ng-bind="lecturer.User.Mail"></span></p>
        <p class="lecturers-p" id="lect-department">Кафедра: <span ng-bind="lecturer.Department"></span></p>
        <p class="lecturers-p" id="lect-post">Должность: <span ng-bind="lecturer.Post"></span></p>
        <p class="lecturers-p post" id="lect-spec">Специализация: <span ng-show="lecturer.Specialization == null">не указана</span> <span ng-bind="lecturer.Specialization"></span></p>
        <div class="row lecturers-panel-margin-top">
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                <h5 class="text-center page-header h5-black-in-callout">Дисциплины</h5>
                <ul class="list-group small-fixed-list margin-bottom-0" ng-if="lecturer.Disciplines != null && lecturer.Disciplines.length > 0">
                    <li class="list-group-item default-cursor break-word" ng-repeat="discipline in lecturer.Disciplines">{{ discipline }}</li>
                </ul>
                <p class="text-center default-cursor" ng-if="lecturer.Disciplines == null || lecturer.Disciplines.length == 0">Пусто</p>
            </div>
        </div>
    </div>
</div>