﻿<a href="#" ng-click="select($event)" class="list-group-item break-word ng-class: dfy.activity">
    <!--<h4 class="list-group-item-heading page-header">Часть № <span ng-bind="index"></span> </h4>-->
    <p class="list-group-item-text">Учебный год: <span ng-bind="dfy.Year"></span></p>
    <p class="list-group-item-text">Семестр: <span ng-bind="dfy.Semester"></span></p>
    <p class="list-group-item-text">Лекторы: <span ng-show="dfy.LecturerNames.length == 0">не назначены</span> <span ng-repeat="lecturer in dfy.LecturerNames track by lecturer.Id"><span ng-bind="lecturer.FIO"></span><span ng-show="!$last">, </span></span></p>
    <p class="list-group-item-text">Ассистенты: <span ng-show="dfy.AssistantsNames.length == 0">не назначены</span> <span ng-repeat="lecturer in dfy.AssistantsNames track by lecturer.Id"><span ng-bind="lecturer.FIO"></span><span ng-show="!$last">, </span></span></p>
</a>
