﻿<div class="panel panel-default margin-top-5">
    <div class="panel-heading cursor-pointer break-word" data-toggle="collapse" data-parent="#accordion" ng-href="#{{workType.WorkTypeId}}">
        <h4 class="panel-title page-header">
            <a><span ng-bind="workType.Name"></span></a>
        </h4>
        <div class="pull-left">
            <p>Min баллы: <span ng-bind="workType.MinMark"></span></p>
            <p>Max баллы: <span ng-bind="workType.MaxMark"></span></p>
        </div>
        <div style="clear: both"></div>
    </div>
    <div ng-attr-id="{{workType.WorkTypeId}}" class="panel-collapse collapse">
        <!-- Содержимое 1 панели -->
        <div class="panel-body">
            <h4 class="text-center text-warning" ng-show="model.Materials[workType.WorkTypeId] == undefined || model.Materials[workType.WorkTypeId].length == 0">Отсутствуют материалы по данному виду работы!</h4>
            <material ng-show="model.Materials[workType.WorkTypeId] != undefined && model.Materials[workType.WorkTypeId].length > 0" ng-repeat="material in model.Materials[workType.WorkTypeId] track by material.MaterialId" material = "material">
            </material>
        </div>
    </div>
</div>