﻿<div class="modal fade" id="StudentCreateDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Создайте студента
            </div>
            <div class="modal-body">
                <form role="form" id="StudentCreateForm">
                    <div class="form-group">
                        <label class="control-label control-label-paddings fullwidth-label text-center">
                            Выберите группу
                        </label>
                        <select class="form-control fullwidth-input" ng-model="createdStudent.GroupNum">
                            <option class="text-center" ng-repeat="group in Groups">{{group.GroupId}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label control-label-paddings fullwidth-label text-center">Введите ФИО студента</label>
                        <input type="text" required="required" class="form-control fullwidth-input" placeholder="ФИО Студента" 
                               ng-model="createdStudent.FIO" title="Требуется ФИО студента" />
                    </div>
                    <div class="form-group">
                        <label class="control-label control-label-paddings fullwidth-label text-center">Введите email студента</label>
                        <input type="email" required="required" class="form-control fullwidth-input" placeholder="Email Студента" 
                               ng-model="createdStudent.Mail" title="Требуется email-адрес студента"  />
                    </div>
                    <input type="submit" class="hidden" />
                </form>
            </div>
            <div class="modal-footer text-right">
                <input type="button" class="btn btn-success" ng-click="createStudent()" value="Создать" />
                <input type="button" class="btn btn-danger" ng-click="cancelStudent()" value="Отмена" />
            </div>
        </div>
    </div>
</div>
